<section class="employer-header-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Internship Header Section</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Title</label>
									<input type="text" name="" class="form-control" value="Internship Program Management made easy!">
								</div>
								<div class="form-group">
									<label>Description</label>
									<editor></editor>
								</div>
								<div class="form-group">
									<label>Banner Image</label>
									<div class="slider-video-cntnt">
										<div class="prev-upld-img">
											<img src="assets/img/offr1.png" class="img-fluid">
											<div class="upload-imag text-center">
												<button class="btn-primary btn  mt-3 position-relative">
													<input type="file" name="" class="img-input-upld">
												Upload Image
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

<section class="whychose-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Why choose TopGraduates?</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Heading</label>
									<input type="text" name="" class="form-control" value="Why choose TopGraduates?">
								</div>
								<div class="form-group">
									<label>Description</label>
									<editor></editor>
								</div>
								<div class="form-group">
									<label>Section Image</label>
									<div class="slider-video-cntnt">
										<div class="prev-upld-img">
											<img src="assets/img/story1.png" class="img-fluid">
											<div class="upload-imag text-center">
												<button class="btn-primary btn  mt-3 position-relative">
													<input type="file" name="" class="img-input-upld">
												Upload Image
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

<section class="host-intern">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>What do you need to host an intern?</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Heading</label>
									<input type="text" name="" class="form-control" value="Why choose TopGraduates?">
								</div>
								<div class="form-group">
									<label>Description</label>
									<editor></editor>
								</div>
								<div class="form-group">
									<label>Section Image</label>
									<div class="slider-video-cntnt">
										<div class="prev-upld-img">
											<img src="assets/img/agree.png" class="img-fluid">
											<div class="upload-imag text-center">
												<button class="btn-primary btn  mt-3 position-relative">
													<input type="file" name="" class="img-input-upld">
												Upload Image
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>


