<section class="jobs-mngmnt">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="catgry-tools d-flex justify-content-between align-items-center">
          <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" class="filter_input" #input>
          </mat-form-field>
          <span class="add-categry">
            <a class="btn-primary btn" routerLink="/add-faq">Add FAQ</a>
          </span>
        </div>

        
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div bsModal #smallModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="smallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close td-btn" (click)="smallModal.hide()" aria-label="Close">
          <span aria-hidden="true" class="prof_modclose">
            <img src="assets/img/Group 225.png">
          </span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete the selected FAQ?</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" (click)="smallModal.hide()">No</button>
        <button type="button" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>


