<section class="employer-header-sec">
	<div class="container">
		<form [formGroup]="headerSection">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="manage-home-header">
							<div class="card-header d-flex justify-content-between">
								<strong>Graduate Verification Header Section</strong>
								<div class="slide-cs">
									<span class="mr-2">Visibility </span>
									<mat-slide-toggle formControlName="is_visible"></mat-slide-toggle>
								</div>
							</div>
							<div class="card-body">
								
									<div class="home-mng-form">
										<div class="form-group">
											<label>Title</label>
											<input type="text" name="" class="form-control" value="Get Verified. Get Hired Faster." formControlName="heading">
										</div>
										<div *ngIf="(headerSection.controls.heading.touched || headerSection.controls.heading.dirty) && headerSection.controls.heading.invalid && headerSection.controls.heading?.errors?.required  " class="invalid">
											*Please enter heading
										</div>
										<div *ngIf="(headerSection.controls.heading.touched || headerSection.controls.heading.dirty) && headerSection.controls.heading.invalid && headerSection.controls.heading?.errors?.maxlength  " class="invalid">
											**Maximum Length should be 50 characters
										</div>
										<div class="form-group">
											<label>Sub-Heading</label>
											<input type="text" name="" class="form-control" value="When you become a TopGrads Verified graduate, employers are more likely to contact you!" formControlName="subheading">
										</div>
										<div *ngIf="(headerSection.controls.subheading.touched || headerSection.controls.subheading.dirty) && headerSection.controls.subheading.invalid && headerSection.controls.subheading?.errors?.required  " class="invalid">
											*Please enter sub heading
										</div>
										<div *ngIf="(headerSection.controls.subheading.touched || headerSection.controls.subheading.dirty) && headerSection.controls.subheading.invalid && headerSection.controls.subheading?.errors?.maxlength  " class="invalid">
											**Maximum Length should be 200 characters
										</div>
										<div class="form-group">
											<label>Banner Image</label>
											<div class="slider-video-cntnt">
												<div class="prev-upld-img">
													<img [src]="HeadingImage1?HeadingImage1:'assets/img/student1.png'" class="img-fluid">
													<div class="upload-imag text-center">
														<button class="btn-primary btn  mt-3 position-relative">
															<input type="file" name="" class="img-input-upld" (change)="setHeadingImage($event)">
														Upload Image
														</button>
													</div>
													<div *ngIf="headerSection.controls['Image']?.errors?.required "
													class="invalid">
													*Please select image
													</div>
													<div *ngIf="headerSection.controls.county?.errors?.required  " class="invalid">
														*Only images are allowed
													</div>
												</div>
											</div>
										</div>
										<div class="edit-btns d-flex justify-content-end">
											<button class="btn btn-primary mr-4" (click)="postcontent('header')">Save</button>
											<button class="btn btn-primary">Back</button>
										</div>
									</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>

<section class="Endorsed-steps-sec">
	<div class="container">
		<form [formGroup]="WhyVerifiedSection">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="manage-home-header">
							<div class="card-header d-flex justify-content-between">
								<strong>Why get Verified?</strong>
								<div class="slide-cs">
									<span class="mr-2">Visibility </span>
									<mat-slide-toggle formControlName="is_visible"></mat-slide-toggle>
								</div>
							</div>
							<div class="card-body">
								<div class="home-mng-form">
									<ng-container formArrayName="verificatonArray"
										*ngFor="let alias of WhyVerifiedSection.controls['verificatonArray'].controls; let i=index">
										<ng-container [formGroupName]="i">
											<div class="endrose-step">
												<div class="form-group">
													<label>{{i+1}}: Icon</label>
													<div class="slider-video-cntnt">
														<div class="prev-upld-img icons">
															<img [src]="verificatonArray.controls[i].controls['image'].value ? verificatonArray.controls[i].controls['image'].value:'assets/img/access_time.svg'" class="img-fluid">
															<div class="upload-imag text-center">
																<button class="btn-primary btn  mt-3 position-relative">
																	<input type="file" name="" class="img-input-upld" (change)="onVerificationChangeImage($event,i)">
																Upload Image
																</button>
															</div>
														</div>
														<div *ngIf="verificatonArray.controls[i].controls['image']?.errors?.required "
															class="invalid">
															*Please select image
														</div>
														<div *ngIf="verificatonArray.controls[i].controls['image'].county?.errors?.required"
															class="invalid">
															*Only images are allowed
														</div>
													</div>
												
													<label>Heading</label>
													<input type="text" name="" class="form-control" value="Get hired 3x faster" formControlName="heading">
													<div *ngIf="verificatonArray.controls[i].controls['heading'].errors?.required  "
														class="invalid">
														*Please enter heading
													</div>
													<div *ngIf="verificatonArray.controls[i].controls['heading'].errors?.maxlength  "
														class="invalid">
														*Maximum Length should be 50 characters
													</div>
												
													<label>Description</label>
													<textarea name="" rows="3" class="form-control" value="" formControlName="description">Verified Profiles stand out! Get Verified and get viewed by more Employers & Recruiters!</textarea>
													<div *ngIf="verificatonArray.controls[i].controls['description'].errors?.required "
														class="invalid">
														*Please enter description
													</div>
													<div *ngIf="verificatonArray.controls[i].controls['description'].errors?.maxlength  "
														class="invalid">
														*Maximum Length should be 500 characters
													</div>
												</div>
											</div>
												<!-- <div class="endrose-step">
													<div class="form-group">
														<label>2: Icon</label>
														<div class="slider-video-cntnt">
															<div class="prev-upld-img icons">
																<img src="assets/img/show_chart.svg" class="img-fluid">
																<div class="upload-imag text-center">
																	<button class="btn-primary btn  mt-3 position-relative">
																		<input type="file" name="" class="img-input-upld">
																	Upload Image
																	</button>
																</div>
															</div>
														</div>
													</div>
													<div class="form-group">
														<label>Heading</label>
														<input type="text" name="" class="form-control" value="Get More Credibility">
													</div>
													<div class="form-group">
														<label>Description</label>
														<textarea name="" rows="3" class="form-control" value="">A Verified badge gives you more credibility on Top Graduates and gives you the competitive edge you need to get hired!</textarea>
													</div>
												</div>
												<div class="endrose-step">
													<div class="form-group">
														<label>3: Icon</label>
														<div class="slider-video-cntnt">
															<div class="prev-upld-img icons">
																<img src="assets/img/Subtract.svg" class="img-fluid">
																<div class="upload-imag text-center">
																	<button class="btn-primary btn  mt-3 position-relative">
																		<input type="file" name="" class="img-input-upld">
																	Upload Image
																	</button>
																</div>
															</div>
														</div>
													</div>
													<div class="form-group">
														<label>Heading</label>
														<input type="text" name="" class="form-control" value="Boosts & Recommendations">
													</div>
													<div class="form-group">
														<label>Description</label>
														<textarea name="" rows="3" class="form-control" value="">Verified candidates get their profile displayed to more than 5000 hiring managers’ recruitment dashboards.</textarea>
													</div>
												</div>
												<div class="endrose-step">
													<div class="form-group">
														<label>4: Icon</label>
														<div class="slider-video-cntnt">
															<div class="prev-upld-img icons">
																<img src="assets/img/mail.svg" class="img-fluid">
																<div class="upload-imag text-center">
																	<button class="btn-primary btn  mt-3 position-relative">
																		<input type="file" name="" class="img-input-upld">
																	Upload Image
																	</button>
																</div>
															</div>
														</div>
													</div>
													<div class="form-group">
														<label>Heading</label>
														<input type="text" name="" class="form-control" value="In-Mail Advertising">
													</div>
													<div class="form-group">
														<label>Description</label>
														<textarea name="" rows="3" class="form-control" value="Is verification guaranteed?">As a Verified candidate, we send your profile to hiring managers in your industry to help you get more interviews.</textarea>
													</div>
												</div>
												<div class="endrose-step">
													<div class="form-group">
														<label>5: Icon</label>
														<div class="slider-video-cntnt">
															<div class="prev-upld-img icons">
																<img src="assets/img/prfl-rnk.svg" class="img-fluid">
																<div class="upload-imag text-center">
																	<button class="btn-primary btn  mt-3 position-relative">
																		<input type="file" name="" class="img-input-upld">
																	Upload Image
																	</button>
																</div>
															</div>
														</div>
													</div>
													<div class="form-group">
														<label>Heading</label>
														<input type="text" name="" class="form-control" value="Increase your Profile Ranking">
													</div>
													<div class="form-group">
														<label>Description</label>
														<textarea name="" rows="3" class="form-control" value="">Verification will help you rank in the top 5% of the graduates and get found 4x faster.</textarea>
													</div>
												</div>

												<div class="endrose-step">
													<div class="form-group">
														<label>6: Icon</label>
														<div class="slider-video-cntnt">
															<div class="prev-upld-img icons">
																<img src="assets/img/description.svg" class="img-fluid">
																<div class="upload-imag text-center">
																	<button class="btn-primary btn  mt-3 position-relative">
																		<input type="file" name="" class="img-input-upld">
																	Upload Image
																	</button>
																</div>
															</div>
														</div>
													</div>
													<div class="form-group">
														<label>Heading</label>
														<input type="text" name="" class="form-control" value="Amazing Careers Resources">
													</div>
													<div class="form-group">
														<label>Description</label>
														<textarea name="" rows="3" class="form-control" value="">Get access to the best Resume &Cover Letter writing tutorials plus Interview Training Masterclass videos.</textarea>
													</div>
												</div> -->
										</ng-container>
									</ng-container>
									<div class="edit-btns d-flex justify-content-end">
										<button class="btn btn-primary mr-4" (click)="postcontent('icons')">Save</button>
										<button class="btn btn-primary">Back</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>


<section class="whychose-sec">
	<div class="container">
		<form [formGroup]="getverifiedSection">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="manage-home-header">
							<div class="card-header d-flex justify-content-between">
								<strong>How do I get Verified?</strong>
								<div class="slide-cs">
									<span class="mr-2">Visibility </span>
									<mat-slide-toggle formControlName="is_visible"></mat-slide-toggle>
								</div>
							</div>
							<div class="card-body">
								
									<div class="home-mng-form">
										<div class="form-group">
											<label>Heading</label>
											<input type="text" name="" class="form-control" value="How do I get Verified?" formControlName="heading">
										</div>
										<div *ngIf="(getverifiedSection.controls.heading.touched || getverifiedSection.controls.heading.dirty) && getverifiedSection.controls.heading.invalid && getverifiedSection.controls.heading?.errors?.required  " class="invalid">
											*Please enter heading
										</div>
										<div *ngIf="(getverifiedSection.controls.heading.touched || getverifiedSection.controls.heading.dirty) && getverifiedSection.controls.heading.invalid && getverifiedSection.controls.heading?.errors?.maxlength  " class="invalid">
											**Maximum Length should be 50 characters
										</div>
										<!-- <div class="form-group">
											<label>Step 1: Heading</label>
											<input type="text" name="" class="form-control" value="Step 1" formControlName="heading1">
										</div>
										<div *ngIf="(getverifiedSection.controls.heading1.touched || getverifiedSection.controls.heading1.dirty) && getverifiedSection.controls.heading1.invalid && getverifiedSection.controls.heading1?.errors?.required  " class="invalid">
											*Please enter heading
										</div>
										<div *ngIf="(getverifiedSection.controls.heading1.touched || getverifiedSection.controls.heading1.dirty) && getverifiedSection.controls.heading1.invalid && getverifiedSection.controls.heading1?.errors?.maxlength  " class="invalid">
											**Maximum Length should be 50 characters
										</div>
										<div class="form-group">
											<label>Description</label>
											<textarea name="" rows="3" class="form-control" value="" formControlName="description">Upload your academic transcripts. This can be your GPA, WAM or Percentage grade.</textarea>
										</div>
										<div *ngIf="(getverifiedSection.controls.description.touched || getverifiedSection.controls.description.dirty) && getverifiedSection.controls.description.invalid && getverifiedSection.controls.description?.errors?.required  " class="invalid">
											*Please enter description
										</div>
										<div *ngIf="(getverifiedSection.controls.description.touched || getverifiedSection.controls.description.dirty) && getverifiedSection.controls.description.invalid && getverifiedSection.controls.description?.errors?.maxlength  " class="invalid">
											**Maximum Length should be 500 characters
										</div>
										<div class="form-group">
											<label>Section Image</label>
											<div class="slider-video-cntnt">
												<div class="prev-upld-img">
													<img src="assets/img/step1.svg" class="img-fluid">
													<div class="upload-imag text-center">
														<button class="btn-primary btn  mt-3 position-relative">
															<input type="file" name="" class="img-input-upld">
														Upload Image
														</button>
													</div>
												</div>
											</div>
										</div> -->
										<div class="edit-btns d-flex justify-content-end">
											<button class="btn btn-primary mr-4" (click)="postcontent('howVerified')">Save</button>
											<button class="btn btn-primary">Back</button>
										</div>
									</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>

<section class="whychose-sec">
	<div class="container">
		<form [formGroup]="stepSection">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="manage-home-header">
							<div class="card-header d-flex justify-content-between">
								<strong>Steps</strong>
								<!-- <div class="slide-cs">
									<span class="mr-2">Visibility </span>
									<mat-slide-toggle formControlName="is_visible"></mat-slide-toggle>
								</div> -->
							</div>
							<div class="card-body">
								<ng-container formArrayName="stepsArray"
									*ngFor="let alias of stepSection.controls['stepsArray'].controls; let i=index">
									<ng-container [formGroupName]="i">
								
										<div class="home-mng-form mb-3">
											<div class="form-group">
												<div class="d-flex justify-content-between align-items-center pb-3">
													<label><span class="font-weight-bold pr-1">Step {{i+1}}: </span>Heading</label>
													<div class="slide-cs">
														<span class="mr-2">Visibility </span>
														<mat-slide-toggle formControlName="is_visible"></mat-slide-toggle>
													</div>
												</div>
												<input type="text" name="" class="form-control" value="Step 2" formControlName="heading">
												<input type="hidden" name="" class="form-control" value="Step 2" formControlName="endoresement_primary_id">
											</div>
											<div *ngIf="stepsArray.controls[i].controls['heading'].errors?.required  "
												class="invalid">
												*Please enter heading
											</div>
											<div *ngIf="stepsArray.controls[i].controls['heading'].errors?.maxlength  "
												class="invalid">
												*Maximum Length should be 50 characters
											</div>
											<div class="form-group">
												<label>Description</label>
												<textarea name="" rows="3" class="form-control" value="" formControlName="description">Upload your National Police Check.</textarea>
											</div>
											<div *ngIf="stepsArray.controls[i].controls['description'].errors?.required "
												class="invalid">
												*Please enter description
											</div>
											<div *ngIf="stepsArray.controls[i].controls['description'].errors?.maxlength  "
												class="invalid">
												*Maximum Length should be 500 characters
											</div>
											<div class="form-group">
												<label>Section Image</label>
												<div class="slider-video-cntnt">
													<div class="prev-upld-img">
														<img [src]="stepsArray.controls[i].controls['image'].value ? stepsArray.controls[i].controls['image'].value:'assets/img/step2.svg'" class="img-fluid">
														<div class="upload-imag text-center">
															<button class="btn-primary btn  mt-3 position-relative">
																<input type="file" name="" class="img-input-upld" (change)="onStepsChangeImage($event,i)">
															Upload Image
															</button>
														</div>
													</div>
													<div *ngIf="stepsArray.controls[i].controls['image']?.errors?.required "
														class="invalid">
														*Please select image
													</div>
													<div *ngIf="stepsArray.controls[i].controls['image'].county?.errors?.required"
														class="invalid">
														*Only images are allowed
													</div>
												</div>
											</div>
											<div class="edit-btns d-flex justify-content-end">
												<button class="btn btn-primary mr-4" (click)="poststepsArray(stepsArray.controls[i].controls['endoresement_primary_id'].value)">Save</button>
												<button class="btn btn-primary">Back</button>
											</div>
										</div>
										<hr/>
									</ng-container>
								</ng-container>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>

<!-- <section class="whychose-sec">
	<div class="container">
		<form [formGroup]="step3Section">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="manage-home-header">
							<div class="card-header d-flex justify-content-between">
								<strong>Step 3</strong>
								<div class="slide-cs">
									<span class="mr-2">Visibility </span>
									<mat-slide-toggle formControlName="is_visible"></mat-slide-toggle>
								</div>
							</div>
							<div class="card-body">
								
									<div class="home-mng-form">
										<div class="form-group">
											<label>Heading</label>
											<input type="text" name="" class="form-control" value="Step 3" formControlName="heading">
										</div>
										<div *ngIf="(step3Section.controls.heading.touched || step3Section.controls.heading.dirty) && step3Section.controls.heading.invalid && step3Section.controls.heading?.errors?.required  " class="invalid">
											*Please enter heading
										</div>
										<div *ngIf="(step3Section.controls.heading.touched || step3Section.controls.heading.dirty) && step3Section.controls.heading.invalid && step3Section.controls.heading?.errors?.maxlength  " class="invalid">
											**Maximum Length should be 50 characters
										</div>
										<div class="form-group">
											<label>Description</label>
											<textarea name="" rows="3" class="form-control" value="" formControlName="description">If you’re not a Permanent Resident/Citizen, upload your English test result. This can be from IELTS, PTE or TOEFL.</textarea>
										</div>
										<div *ngIf="(step3Section.controls.description.touched || step3Section.controls.description.dirty) && step3Section.controls.description.invalid && step3Section.controls.description?.errors?.required  " class="invalid">
											*Please enter description
										</div>
										<div *ngIf="(step3Section.controls.description.touched || step3Section.controls.description.dirty) && step3Section.controls.description.invalid && step3Section.controls.description?.errors?.maxlength  " class="invalid">
											**Maximum Length should be 500 characters
										</div>
										<div class="form-group">
											<label>Section Image</label>
											<div class="slider-video-cntnt">
												<div class="prev-upld-img">
													<img src="assets/img/step3.svg" class="img-fluid">
													<div class="upload-imag text-center">
														<button class="btn-primary btn  mt-3 position-relative">
															<input type="file" name="" class="img-input-upld">
														Upload Image
														</button>
													</div>
												</div>
											</div>
										</div>
										<div class="edit-btns d-flex justify-content-end">
											<button class="btn btn-primary mr-4">Save</button>
											<button class="btn btn-primary">Back</button>
										</div>
									</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
	    </form>
	</div>
</section>

<section class="whychose-sec">
	<div class="container">
		<form [formGroup]="step4Section">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="manage-home-header">
							<div class="card-header d-flex justify-content-between">
								<strong>Step 4</strong>
								<div class="slide-cs">
									<span class="mr-2">Visibility </span>
									<mat-slide-toggle formControlName="is_visible"></mat-slide-toggle>
								</div>
							</div>
							<div class="card-body">
								
									<div class="home-mng-form">
										<div class="form-group">
											<label>Heading</label>
											<input type="text" name="" class="form-control" value="Step 4" formControlName="heading">
										</div>
										<div *ngIf="(step4Section.controls.heading.touched || step4Section.controls.heading.dirty) && step4Section.controls.heading.invalid && step4Section.controls.heading?.errors?.required  " class="invalid">
											*Please enter heading
										</div>
										<div *ngIf="(step4Section.controls.heading.touched || step4Section.controls.heading.dirty) && step4Section.controls.heading.invalid && step4Section.controls.heading?.errors?.maxlength  " class="invalid">
											**Maximum Length should be 50 characters
										</div>
										<div class="form-group">
											<label>Description</label>
											<textarea name="" rows="3" class="form-control" value="" formControlName="description">Submit your proof of work. You will be able to elaborate your existing skillset from your profile.</textarea>
										</div>
										<div *ngIf="(step4Section.controls.description.touched || step4Section.controls.description.dirty) && step4Section.controls.description.invalid && step4Section.controls.description?.errors?.required  " class="invalid">
											*Please enter description
										</div>
										<div *ngIf="(step4Section.controls.description.touched || step4Section.controls.description.dirty) && step4Section.controls.description.invalid && step4Section.controls.description?.errors?.maxlength  " class="invalid">
											**Maximum Length should be 500 characters
										</div>
										<div class="form-group">
											<label>Section Image</label>
											<div class="slider-video-cntnt">
												<div class="prev-upld-img">
													<img src="assets/img/step4.svg" class="img-fluid">
													<div class="upload-imag text-center">
														<button class="btn-primary btn  mt-3 position-relative">
															<input type="file" name="" class="img-input-upld">
														Upload Image
														</button>
													</div>
												</div>
											</div>
										</div>
										<div class="edit-btns d-flex justify-content-end">
											<button class="btn btn-primary mr-4">Save</button>
											<button class="btn btn-primary">Back</button>
										</div>
									</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>

<section class="whychose-sec">
	<div class="container">
		<form [formGroup]="step5Section">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="manage-home-header">
							<div class="card-header d-flex justify-content-between">
								<strong>Step 5</strong>
								<div class="slide-cs">
									<span class="mr-2">Visibility </span>
									<mat-slide-toggle formControlName="is_visible"></mat-slide-toggle>
								</div>
							</div>
							<div class="card-body">
								
									<div class="home-mng-form">
										<div class="form-group">
											<label>Heading</label>
											<input type="text" name="" class="form-control" value="Step 5" formControlName="heading">
										</div>
										<div *ngIf="(step5Section.controls.heading.touched || step5Section.controls.heading.dirty) && step5Section.controls.heading.invalid && step5Section.controls.heading?.errors?.required  " class="invalid">
											*Please enter heading
										</div>
										<div *ngIf="(step5Section.controls.heading.touched || step5Section.controls.heading.dirty) && step5Section.controls.heading.invalid && step5Section.controls.heading?.errors?.maxlength  " class="invalid">
											**Maximum Length should be 50 characters
										</div>
										<div class="form-group">
											<label>Description</label>
											<textarea name="" rows="3" class="form-control" value="" formControlName="description">Submit two different references.</textarea>
										</div>
										<div *ngIf="(step5Section.controls.description.touched || step5Section.controls.description.dirty) && step5Section.controls.description.invalid && step5Section.controls.description?.errors?.required  " class="invalid">
											*Please enter description
										</div>
										<div *ngIf="(step5Section.controls.description.touched || step5Section.controls.description.dirty) && step5Section.controls.description.invalid && step5Section.controls.description?.errors?.maxlength  " class="invalid">
											**Maximum Length should be 500 characters
										</div>
										<div class="form-group">
											<label>Section Image</label>
											<div class="slider-video-cntnt">
												<div class="prev-upld-img">
													<img src="assets/img/step5.svg" class="img-fluid">
													<div class="upload-imag text-center">
														<button class="btn-primary btn  mt-3 position-relative">
															<input type="file" name="" class="img-input-upld">
														Upload Image
														</button>
													</div>
												</div>
											</div>
										</div>
										<div class="edit-btns d-flex justify-content-end">
											<button class="btn btn-primary mr-4">Save</button>
											<button class="btn btn-primary">Back</button>
										</div>
									</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>

<section class="whychose-sec">
	<div class="container">
		<form [formGroup]="step6Section">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="manage-home-header">
							<div class="card-header d-flex justify-content-between">
								<strong>Step 6</strong>
								<div class="slide-cs">
									<span class="mr-2">Visibility </span>
									<mat-slide-toggle formControlName="is_visible"></mat-slide-toggle>
								</div>
							</div>
							<div class="card-body">
								
									<div class="home-mng-form">
										<div class="form-group">
											<label>Heading</label>
											<input type="text" name="" class="form-control" value="Step 6" formControlName="heading">
										</div>
										<div *ngIf="(step6Section.controls.heading.touched || step6Section.controls.heading.dirty) && step6Section.controls.heading.invalid && step6Section.controls.heading?.errors?.required  " class="invalid">
											*Please enter heading
										</div>
										<div *ngIf="(step6Section.controls.heading.touched || step6Section.controls.heading.dirty) && step6Section.controls.heading.invalid && step6Section.controls.heading?.errors?.maxlength  " class="invalid">
											**Maximum Length should be 50 characters
										</div>
										<div class="form-group">
											<label>Description</label>
											<textarea name="" rows="3" class="form-control" value="" formControlName="description">Upload a video resume up to 5 minutes, or import one from Youtube/Vimeo.</textarea>
										</div>
										<div *ngIf="(step6Section.controls.description.touched || step6Section.controls.description.dirty) && step6Section.controls.description.invalid && step6Section.controls.description?.errors?.required  " class="invalid">
											*Please enter description
										</div>
										<div *ngIf="(step6Section.controls.description.touched || step6Section.controls.description.dirty) && step6Section.controls.description.invalid && step6Section.controls.description?.errors?.maxlength  " class="invalid">
											**Maximum Length should be 500 characters
										</div>
										<div class="form-group">
											<label>Section Image</label>
											<div class="slider-video-cntnt">
												<div class="prev-upld-img">
													<img src="assets/img/step6.svg" class="img-fluid">
													<div class="upload-imag text-center">
														<button class="btn-primary btn  mt-3 position-relative">
															<input type="file" name="" class="img-input-upld">
														Upload Image
														</button>
													</div>
												</div>
											</div>
										</div>
										<div class="edit-btns d-flex justify-content-end">
											<button class="btn btn-primary mr-4">Save</button>
											<button class="btn btn-primary">Back</button>
										</div>
									</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>

<section class="whychose-sec">
	<div class="container">
		<form [formGroup]="step7Section">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="manage-home-header">
							<div class="card-header d-flex justify-content-between">
								<strong>Step 7</strong>
								<div class="slide-cs">
									<span class="mr-2">Visibility </span>
									<mat-slide-toggle formControlName="is_visible"></mat-slide-toggle>
								</div>
							</div>
							<div class="card-body">
								
									<div class="home-mng-form">
										<div class="form-group">
											<label>Heading</label>
											<input type="text" name="" class="form-control" value="Step 7" formControlName="heading">
										</div>
										<div *ngIf="(step7Section.controls.heading.touched || step7Section.controls.heading.dirty) && step7Section.controls.heading.invalid && step7Section.controls.heading?.errors?.required  " class="invalid">
											*Please enter heading
										</div>
										<div *ngIf="(step7Section.controls.heading.touched || step7Section.controls.heading.dirty) && step7Section.controls.heading.invalid && step7Section.controls.heading?.errors?.maxlength  " class="invalid">
											**Maximum Length should be 50 characters
										</div>
										<div class="form-group">
											<label>Description</label>
											<textarea name="" rows="3" class="form-control" value="" formControlName="description">Finalize your verification with a one-time payment to become a Verified Graduate!</textarea>
										</div>
										<div *ngIf="(step7Section.controls.description.touched || step7Section.controls.description.dirty) && step7Section.controls.description.invalid && step7Section.controls.description?.errors?.required  " class="invalid">
											*Please enter description
										</div>
										<div *ngIf="(step7Section.controls.description.touched || step7Section.controls.description.dirty) && step7Section.controls.description.invalid && step7Section.controls.description?.errors?.maxlength  " class="invalid">
											**Maximum Length should be 500 characters
										</div>
										<div class="form-group">
											<label>Section Image</label>
											<div class="slider-video-cntnt">
												<div class="prev-upld-img">
													<img src="assets/img/step7.svg" class="img-fluid">
													<div class="upload-imag text-center">
														<button class="btn-primary btn  mt-3 position-relative">
															<input type="file" name="" class="img-input-upld">
														Upload Image
														</button>
													</div>
												</div>
											</div>
										</div>
										<div class="edit-btns d-flex justify-content-end">
											<button class="btn btn-primary mr-4">Save</button>
											<button class="btn btn-primary">Back</button>
										</div>
									</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</section> -->

<section class="opportunities-sec">
	<div class="container">
		<form [formGroup]="verificationSection">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="manage-home-header">
							<div class="card-header d-flex justify-content-between">
								<strong>Want to get Verified?</strong>
								<div class="slide-cs">
									<span class="mr-2">Visibility </span>
									<mat-slide-toggle formControlName="is_visible"></mat-slide-toggle>
								</div>
							</div>
							<div class="card-body">
								
									<div class="home-mng-form">
										<div class="form-group">
											<label>Heading</label>
											<input type="text" name="" class="form-control" value="Want to get Verified?" formControlName="heading">
										</div>
										<div *ngIf="(verificationSection.controls.heading.touched || verificationSection.controls.heading.dirty) && verificationSection.controls.heading.invalid && verificationSection.controls.heading?.errors?.required  " class="invalid">
											*Please enter heading
										</div>
										<div *ngIf="(verificationSection.controls.heading.touched || verificationSection.controls.heading.dirty) && verificationSection.controls.heading.invalid && verificationSection.controls.heading?.errors?.maxlength  " class="invalid">
											**Maximum Length should be 50 characters
										</div>
										<div class="form-group">
											<label>Description</label>
											<editor formControlName="description"></editor>
										</div>
										<div *ngIf="(verificationSection.controls.description.touched || verificationSection.controls.description.dirty) && verificationSection.controls.description.invalid && verificationSection.controls.description?.errors?.required  " class="invalid">
											*Please enter description
										</div>
										<div *ngIf="(verificationSection.controls.description.touched || verificationSection.controls.description.dirty) && verificationSection.controls.description.invalid && verificationSection.controls.description?.errors?.maxlength  " class="invalid">
											**Maximum Length should be 500 characters
										</div>
										<div class="form-group">
											<label>Price</label>
											<input type="text" name="" class="form-control" value="$195" formControlName="price">
										</div>
                                        <div *ngIf="(verificationSection.controls.price.touched || verificationSection.controls.price.dirty) && verificationSection.controls.price.invalid && verificationSection.controls.price?.errors?.required  " class="invalid">
											*Please enter price
										</div>
										<div *ngIf="(verificationSection.controls.price.touched || verificationSection.controls.price.dirty) && verificationSection.controls.price.invalid && verificationSection.controls.price?.errors?.pattern  " class="invalid">
											*Please enter valid price
										</div>
										<div class="form-group">
											<label>Section Image</label>
											<div class="slider-video-cntnt">
												<div class="prev-upld-img">
													<img [src]="HeadingImage2?HeadingImage2:'assets/img/vrfd_img.png'"  class="img-fluid">
													<div class="upload-imag text-center">
														<button class="btn-primary btn  mt-3 position-relative">
															<input type="file" name="" class="img-input-upld" (change)="setHeadingImage1($event)">
														Upload Image
														</button>
													</div>
													<div *ngIf="verificationSection.controls['Image']?.errors?.required "
													class="invalid">
													*Please select image
													</div>
													<div *ngIf="verificationSection.controls.county?.errors?.required  " class="invalid">
														*Only images are allowed
													</div>
												</div>
											</div>
										</div>

										<div class="edit-btns d-flex justify-content-end">
											<button class="btn btn-primary mr-4" (click)="postcontent('getverified')">Save</button>
											<button class="btn btn-primary">Back</button>
										</div>
									</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>

<section class="opportunities-sec">
	<div class="container">
		<form [formGroup]="FAQSection">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="manage-home-header">
							<div class="card-header d-flex justify-content-between">
								<strong>Frequently Asked Questions</strong>
								<div class="slide-cs">
									<span class="mr-2">Visibility </span>
									<mat-slide-toggle formControlName="is_visible"></mat-slide-toggle>
								</div>
							</div>
							<div class="card-body">
								
									<div class="home-mng-form">
										<ng-container formArrayName="FaqArray"
											*ngFor="let alias of FAQSection.controls['FaqArray'].controls; let i=index">
											<ng-container [formGroupName]="i">
												<div class="form-group">
													<label>Question {{i+1}}</label>
													<input type="text" name="" class="form-control" value="Is verification guaranteed?" formControlName="question">
													<div *ngIf="FaqArray.controls[i].controls['question'].errors?.required  "
														class="invalid">
														*Please enter question
													</div>
													<div *ngIf="FaqArray.controls[i].controls['question'].errors?.maxlength  "
														class="invalid">
														*Maximum Length should be 50 characters
													</div>
												
													<label>Answer</label>
													<textarea name="" rows="3" class="form-control" value="Is verification guaranteed?"  formControlName="answer">Is verification guaranteed?</textarea>
													<div *ngIf="FaqArray.controls[i].controls['answer'].errors?.required  "
														class="invalid">
														*Please enter answer
													</div>
													<div *ngIf="FaqArray.controls[i].controls['answer'].errors?.maxlength  "
														class="invalid">
														*Maximum Length should be 500 characters
													</div>

												</div>
											</ng-container>
										</ng-container>

										<!-- <div class="form-group">
											<label>Question 2</label>
											<input type="text" name="" class="form-control" value="I got declined, can I keep trying to get verified?">
										</div>
										<div class="form-group">
											<label>Answer</label>
											<textarea name="" rows="3" class="form-control" value="">There’s no time limit. You may want to double check your documents required for verification or the format of your video resume to get verified.</textarea>
										</div>

										<div class="form-group">
											<label>Question 3</label>
											<input type="text" name="" class="form-control" value="Why should I get verified?">
										</div>
										<div class="form-group">
											<label>Answer</label>
											<textarea name="" rows="3" class="form-control" value="">The main reason to get verified is to help you stand out among your peers, which will get the attention of your future employers. Additionally, there are other perks to getting endorsed, namely training videos and additional resources to further help you.</textarea>
										</div> -->

										<div class="edit-btns d-flex justify-content-end">
											<button class="btn btn-primary mr-4" (click)="postcontent('faq')">Save</button>
											<button class="btn btn-primary">Back</button>
										</div>
									</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>




























