
<section class="edit-employer-sec">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<strong>Change Password</strong>
					</div>
					<div class="card-body">
						
							<div class="edit-form mt-4">
								<form [formGroup]="changepwdform">
									<div class="edit-form-fields">
										<div class="row justify-content-center">
											<div class="col-md-8">
                                                <div class="form-group">
                                                    <label>Current Password</label>
                                                    <input type="password" name="" class="form-control" value="" formControlName="current_pwd">
                                                </div>
												<div *ngIf="(changepwdform.controls.current_pwd?.touched || changepwdform.controls.current_pwd?.dirty) && changepwdform.controls.current_pwd?.invalid && changepwdform.controls.current_pwd.errors?.required" class="invalid">
													*Please enter current password
											    </div>
                                                <div class="form-group">
                                                    <label>New Password</label>
                                                    <input type="password" name="" class="form-control" value="" formControlName="new_pwd">
                                                </div>
												<div *ngIf="(changepwdform.controls.new_pwd?.touched || changepwdform.controls.new_pwd?.dirty) && changepwdform.controls.new_pwd?.invalid && changepwdform.controls.new_pwd.errors?.required" class="invalid">
													*Please enter new password
											    </div>
                                                <div class="form-group">
                                                    <label>Confirm Password</label>
                                                    <input type="password" name="" class="form-control" value="" formControlName="confirm_pwd">
                                                </div>
												<div *ngIf="(changepwdform.controls.confirm_pwd?.touched || changepwdform.controls.confirm_pwd?.dirty) && changepwdform.controls.confirm_pwd?.invalid && changepwdform.controls.confirm_pwd.errors?.required" class="invalid">
													*Please enter confirm password
											    </div>
												<div *ngIf="(changepwdform.controls.confirm_pwd?.touched || changepwdform.controls.confirm_pwd?.dirty) && changepwdform.controls.confirm_pwd?.valid && changepwdform?.errors?.pwdNotSame " class="invalid">
													*Password do not match
											    </div>
                                                <div class="edit-btns d-flex justify-content-end">
                                                    <button class="btn btn-primary mr-4" (click)="change()">Save</button>
                                                    <button class="btn btn-primary">Cancel</button>
                                                </div>
											</div>
										</div>
									</div>
								</form>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
</section>
