<section class="view-job-sec">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="job-description-sec card">
                    <div class="card-header">
                        <strong>View Job Details</strong>
                    </div>
					<div class="gradPreview_result position-relative">
                        <div class="preview_wrapper">
                        	<div class="prevw_main_ttl d-flex justify-content-between align-items-center">
                        		<h4>UI/UX Designer</h4>
                        		<small>Posted: 8 days ago</small>
                        	</div>
                        	<div class="job_nam_prvw">
                        		<div class="row">
                        			<div class="col-sm-6">
                        				<div class="prvw_jb_ttl">
                        					<p>Adobe <small>remote work possible</small></p>
                        					<small class="prevw_loctn">in Melbourne, Victoria</small>
                        				</div>
                        				<div class="prev_schdul d-flex justify-content-start">
                            				<div class="prev_availby">
                            					<small>Availability:</small>
                            					<p>Part time</p>
                            				</div>
                            				<div class="prev_availby prev_wrk_typ">
                            					<small>Work type:</small>
                            					<p>Employment</p>
                            				</div>
                                            <div class="prev_availby prev_wrk_typ">
                                                <small>Posted By:</small>
                                                <p>Employer 893745</p>
                                            </div>
                        				</div>
                        			</div>
                        			<div class="col-sm-6">
                        				<div class="prvw_jb_skills gradKey_prve">
                        					<div class="typed_text">
                        						<small>Key Skills:</small>
												<span>Figma</span>
												<span class="colr_green">Adobe Illustrator</span>
												<span class="colr_green">Adobe Photoshop</span>
												<span>Python</span>
												<span>Figma</span>
											</div>
                        				</div>
                        			</div>
                        		</div>
                        	</div>
                        	<div class="prev_descriptions">
                        		<p>Description:</p>
                        		<div class="compny_info">
                        			<h6>About the Company</h6>
                        			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        			consequat.</p>
                        		</div>
                        		<div class="compny_info">
                        			<h6>Job Responsibilities</h6>
                        			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        		</div>
                        		<div class="compny_info">
                        			<h6>Qualifications & Experience</h6>
                        			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        			consequat.</p>
                        		</div>
                        	</div>
                        	<div class="job_nam_prvw prevwDeadline">
                        		<div class="row">
                        			<div class="col-sm-4">
                        				<div class="deadTtl">
                        					<small>Application deadline:</small>
                        					<small class="ddl_date">14 / 03 / 21 <sub>&ensp;closes in 5 days</sub></small>
                        				</div>
                        			</div>
                        			<div class="col-sm-8">
                        				<div class="deadTtl">
                        					<small>Salary:</small>
                        					<small class="ddl_date">$45 - $50 per hour</small>
                        				</div>
                        			</div>
                        		</div>
                        	</div>
                        	<div class="deadTtl">
            					<small>Expected start date:</small>
            					<small class="ddl_date">01 / 04 / 21</small>
            				</div>
                            <div class="edit-btns text-right mt-3">
                                <a class="btn btn-primary" routerLink="/jobsManagement">Back</a>
                            </div>
                        </div>
                	</div>
				</div>
			</div>
		</div>
	</div>
</section>