<section class="view-employer-sec view-payment-sec">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<strong>Offer Details</strong>
					</div>
					<div class="card-body">
						<div class="edit-wrapper">
							<div class="row">

								<div class="col-lg-6 col-sm-12">
									<div class="form-group pymnt_dtls">
										<label>Employer Name:</label>
										<span>{{empFirstName | titlecase}} {{empLasstName | titlecase}}</span>
									</div>
								</div>

								<div class="col-lg-6 col-sm-12">
									<div class="form-group pymnt_dtls">
										<label>Employer Email:</label>
										<span>{{empEmail}}</span>
									</div>
								</div>

								<div class="col-lg-6 col-sm-12">
									<div class="form-group pymnt_dtls">
										<label>Company Name:</label>
										<span>{{companyName | titlecase}}</span>
									</div>
								</div>
								<div class="col-lg-6 col-sm-12">
									<div class="form-group pymnt_dtls">
										<label>Job Title:</label>
										<span>{{jobtitle | titlecase}}</span>
									</div>
								</div>

								<div class="col-lg-6 col-sm-12">
									<div class="form-group pymnt_dtls">
										<label>Candidate Name:</label>
										<span>{{candidateFirstName | titlecase}} {{candidateLasstName |
											titlecase}}</span>
									</div>
								</div>

								<div class="col-lg-6 col-sm-12">
									<div class="form-group pymnt_dtls">
										<label>Candidate Email:</label>
										<span>{{candidateEmail}}</span>
									</div>
								</div>




								<div class="col-lg-6 col-sm-12">
									<div class="form-group pymnt_dtls">
										<label>Date:</label>
										<span>{{date | date:shortDate}}</span>
									</div>
								</div>

								<div class="col-lg-6 col-sm-12">
									<div class="form-group pymnt_dtls">
										<label>Status:</label>
										<span>{{status | titlecase}}</span>
									</div>
								</div>
								<!-- <div class="col-lg-6 col-sm-12">
								 	<div class="form-group pymnt_dtls">
								 		<label>Amount Paid:</label>
								 		<span>$195</span>
								 	</div>
								</div> -->

							</div>
							<div class="edit-btns text-right mt-4">
								<span><a routerLink="/offer-submissions" class="btn btn-primary">Back</a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>