<section class="view-employer-sec view-payment-sec">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<strong>Offer Details</strong>
					</div>
					<div class="card-body">
						<div class="edit-wrapper">
							<div class="row">
								<div class="col-lg-12 col-sm-12">
								 	<div class="form-group pymnt_dtls">
								 		<label>Host Company:</label>
								 		<span>FrameStacks Inc.</span>
								 	</div>
								</div>
								<div class="col-lg-6 col-sm-12">
								 	<div class="form-group pymnt_dtls">
								 		<label>Supervisor Name:</label>
								 		<span>Michael Smith</span>
								 	</div>
								</div>
								<div class="col-lg-6 col-sm-12">
								 	<div class="form-group pymnt_dtls">
								 		<label>Candidate Name:</label>
								 		<span>Nathan Jones</span>
								 	</div>
								</div>
								<div class="col-lg-6 col-sm-12">
								 	<div class="form-group pymnt_dtls">
								 		<label>Supervisor Email:</label>
								 		<span>msmith@outlook.com</span>
								 	</div>
								</div>
								<div class="col-lg-6 col-sm-12">
								 	<div class="form-group pymnt_dtls">
								 		<label>Candidate Email:</label>
								 		<span>nathan.jones95@gmail.com</span>
								 	</div>
								</div>
								<div class="col-lg-6 col-sm-12">
								 	<div class="form-group pymnt_dtls">
								 		<label>Start Date:</label>
								 		<span>4th June 2021</span>
								 	</div>
								</div>
								<div class="col-lg-6 col-sm-12">
								 	<div class="form-group pymnt_dtls">
								 		<label>End Date:</label>
								 		<span>4th July 2021</span>
								 	</div>
								</div>
								<div class="col-lg-6 col-sm-12">
								 	<div class="form-group pymnt_dtls">
								 		<label>Insurance Package:</label>
								 		<span>Insurance and Agreement</span>
								 	</div>
								</div>
								<div class="col-lg-6 col-sm-12">
								 	<div class="form-group pymnt_dtls">
								 		<label>Amount Paid:</label>
								 		<span>$195</span>
								 	</div>
								</div>
								
							</div>
							<div class="edit-btns text-right mt-4">
		                        <span><a routerLink="/paymentManagement" class="btn btn-primary">Back</a></span>
		                    </div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>