<section class="payment-mngmnt">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <mat-form-field appearance="standard">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)"  [(ngModel)]="search" placeholder="Ex. Mia" class="filter_input" #input>
        </mat-form-field>

        <div class="mat-elevation-z8">
          <div class="table-responsive">
            <table mat-table [dataSource]="allData" matSort>
              <!-- Checkbox Column -->
              <!-- <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()" class="td-check">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)" class="td-check">
                  </mat-checkbox>
                </td>
              </ng-container> -->
              <!-- ID Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No </th>
                <td mat-cell *matCellDef="let row;let i =index"> {{i+1}} </td>
              </ng-container>

              <!-- worktype Column -->
              <ng-container matColumnDef="candidate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Candidate Name</th>
                <td mat-cell *matCellDef="let row"> {{row.graduate_id.first_name | titlecase}} {{row.graduate_id.last_name | titlecase}} </td>
              </ng-container>
              <!-- postedby Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Email </th>
                <td mat-cell *matCellDef="let row"> {{row.graduate_id.email}} </td>
              </ng-container>
              <!-- worktype Column -->
              <ng-container matColumnDef="transcripts">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Academic Transcripts</th>
                <td mat-cell *matCellDef="let row">

                	<div class="check_icns text-center" *ngIf="row.upload_documents[0].name == 'Academic transcripts'">
                		<mat-icon class="material-icons-outlined">check</mat-icon>
                	</div> 

                  <div class="check_icns text-center" *ngIf="row.upload_documents[0].name != 'Academic transcripts'">
                		<mat-icon class="material-icons-outlined">close</mat-icon>
                	</div> 

                </td>
              </ng-container>

              <!-- postedby Column -->
              <ng-container matColumnDef="polcheck">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>National Police Check </th>
                <td mat-cell *matCellDef="let row">

                	<div class="check_icns text-center"  *ngIf="row.upload_documents[1].name == 'National Police Check'">
                		<mat-icon class="material-icons-outlined">check</mat-icon>
                	</div> 

                  <div class="check_icns text-center"  *ngIf="row.upload_documents[1].name != 'National Police Check'">
                		<mat-icon class="material-icons-outlined">close</mat-icon>
                	</div> 

            	</td>
              </ng-container>
              <!-- Company Column -->
              <ng-container matColumnDef="lngtst">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>English Language Test</th>
                <td mat-cell *matCellDef="let row">

                	<div class="check_icns text-center" *ngIf="row.upload_documents[2].name == 'English Language Test'">
                		<mat-icon class="material-icons-outlined">check</mat-icon>
                	</div>

                  <div class="check_icns text-center" *ngIf="row.upload_documents[2].name != 'English Language Test'">
                		<mat-icon class="material-icons-outlined">close</mat-icon>
                	</div>

                </td>
              </ng-container>

              <!-- postedby Column -->
              <ng-container matColumnDef="prfwrk">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Proof of Work </th>
                <td mat-cell *matCellDef="let row">
                	<div class="check_icns text-center">
                		<mat-icon class="material-icons-outlined">check</mat-icon>
                	</div>
                </td>
              </ng-container>
              <!-- Company Column -->
              <ng-container matColumnDef="rfrncs">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>References</th>
                <td mat-cell *matCellDef="let row">

                	<div class="check_icns text-center" *ngIf="row.references[0].email.length== 0 ">
                		<mat-icon class="material-icons-outlined">close</mat-icon>
                	</div>

                  <div class="check_icns text-center" *ngIf="row.references[0].email.length >= 1 || row.references[1].email.length >= 1">
                		<mat-icon class="material-icons-outlined">check</mat-icon>
                	</div>

                </td>
              </ng-container>

              <!-- Company Column -->
              <ng-container matColumnDef="vdeorsm">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Video Resume</th>
                <td mat-cell *matCellDef="let row">

                	<div class="check_icns text-center" *ngIf="row.graduate_id.video_resume.url.length == 0">
                		<mat-icon class="material-icons-outlined">close</mat-icon>
                	</div>

                  <div class="check_icns text-center" *ngIf="row.graduate_id.video_resume.url.length >= 1">
                		<mat-icon class=" material-icons-outlined">check</mat-icon>
                	</div>

                </td>
              </ng-container>
               <!-- Job title Column -->
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                <td mat-cell *matCellDef="let row"> {{row.date}} </td>
              </ng-container>
              
              <!-- status column -->
              <ng-container matColumnDef="pstts">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment Status </th>
                <td mat-cell *matCellDef="let row"><span class="badge badge-success">Paid</span></td>
              </ng-container>

              <!-- status column -->
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Verification Status </th>
                <td mat-cell *matCellDef="let row">
                     <mat-slide-toggle [checked]="row.status=='active'?true:false"></mat-slide-toggle>
                   </td>
              </ng-container>
               <!-- Action column -->
               <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button [matMenuTriggerFor]="menu" class="td-btn">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" class="td-menu">
                      <a mat-menu-item class="" routerLink="/view-verification">
                        <mat-icon class="material-icons-outlined">visibility</mat-icon>
                        <span>View</span>
                      </a>
                      <!-- <a mat-menu-item class="" routerLink="/edit-interview">
                        <mat-icon class="material-icons-outlined">edit</mat-icon>
                        <span>Edit</span>
                      </a> -->
                      <a mat-menu-item class="" data-toggle="modal" (click)="smallModal.show()">
                        <mat-icon class="material-icons-outlined">delete</mat-icon>
                        <span>Delete</span>
                      </a>
                    </mat-menu>
                </td>
              </ng-container>

              <!-- Progress Column -->
              <!-- <ng-container matColumnDef="progress">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
                <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
              </ng-container> -->

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>
          </div>
          <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator> -->
          <mat-paginator aria-label="Select page of users" (page)="paginatorOfVerification($event)" [length]="verificationCount" [pageSize]="5"
          [pageSizeOptions]="getPageSizeOfVerification()" [pageIndex]="topPage"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div bsModal #smallModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="smallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close td-btn" (click)="smallModal.hide()" aria-label="Close">
          <span aria-hidden="true" class="prof_modclose">
            <img src="assets/img/Group 225.png">
          </span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete it?</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" (click)="smallModal.hide()">No</button>
        <button type="button" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>

