<section class="employer-header-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Video Intro Step 2</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Step 2 Heading</label>
									<input type="text" name="" class="form-control" value="2. Practice your takes">
								</div>
								<div class="form-group">
									<label>Image</label>
									<div class="slider-video-cntnt">
										<div class="prev-upld-img resume_img">
											<img src="assets/img/tip_intro.png" class="img-fluid">
											<div class="upload-imag text-center">
												<button class="btn-primary btn  mt-3 position-relative">
													<input type="file" name="" class="img-input-upld">
												Upload Image
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label>Description</label>
									<editor></editor>
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

<section class="Endorsed-steps-sec resume_tips_sctn video_resm">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Video Resume Tips</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Main Heading</label>
									<input type="text" name="" class="form-control" value="Tips on the Video Resume">
								</div>
		      					<div class="endrose-step">
		      						<div class="form-group">
										<label>1: Image</label>
										<div class="slider-video-cntnt">
											<div class="prev-upld-img icons">
												<img src="assets/img/video_tip1.png" class="img-fluid">
												<div class="upload-imag text-center">
													<button class="btn-primary btn  mt-3 position-relative">
														<input type="file" name="" class="img-input-upld">
													Upload Image
													</button>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label>Heading</label>
										<input type="text" name="" class="form-control" value="Clear Audio">
									</div>
									<div class="form-group">
										<label>Description</label>
										<editor></editor>
									</div>
		      					</div>
		      					<div class="endrose-step">
		      						<div class="form-group">
										<label>2: Image</label>
										<div class="slider-video-cntnt">
											<div class="prev-upld-img icons">
												<img src="assets/img/video_tip2.png" class="img-fluid">
												<div class="upload-imag text-center">
													<button class="btn-primary btn  mt-3 position-relative">
														<input type="file" name="" class="img-input-upld">
													Upload Image
													</button>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label>Heading</label>
										<input type="text" name="" class="form-control" value="Appropriate Attire">
									</div>
									<div class="form-group">
										<label>Description</label>
										<editor></editor>
									</div>
		      					</div>
		      					<div class="endrose-step">
		      						<div class="form-group">
										<label>3: Image</label>
										<div class="slider-video-cntnt">
											<div class="prev-upld-img icons">
												<img src="assets/img/video_tip3.png" class="img-fluid">
												<div class="upload-imag text-center">
													<button class="btn-primary btn  mt-3 position-relative">
														<input type="file" name="" class="img-input-upld">
													Upload Image
													</button>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label>Heading</label>
										<input type="text" name="" class="form-control" value="Perfect Posture">
									</div>
									<div class="form-group">
										<label>Description</label>
										<editor></editor>
									</div>
		      					</div>
		      					<div class="endrose-step">
		      						<div class="form-group">
										<label>4: Image</label>
										<div class="slider-video-cntnt">
											<div class="prev-upld-img icons">
												<img src="assets/img/video_tip4.png" class="img-fluid">
												<div class="upload-imag text-center">
													<button class="btn-primary btn  mt-3 position-relative">
														<input type="file" name="" class="img-input-upld">
													Upload Image
													</button>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label>Heading</label>
										<input type="text" name="" class="form-control" value="Smile!">
									</div>
									<div class="form-group">
										<label>Description</label>
										<editor></editor>
									</div>
		      					</div>
		      					<div class="endrose-step">
		      						<div class="form-group">
										<label>5: Image</label>
										<div class="slider-video-cntnt">
											<div class="prev-upld-img icons">
												<img src="assets/img/video_tip5.png" class="img-fluid">
												<div class="upload-imag text-center">
													<button class="btn-primary btn  mt-3 position-relative">
														<input type="file" name="" class="img-input-upld">
													Upload Image
													</button>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label>Heading</label>
										<input type="text" name="" class="form-control" value="Simple Background">
									</div>
									<div class="form-group">
										<label>Description</label>
										<editor></editor>
									</div>
		      					</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

































