<section class="home-header-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Slider Item Detail</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
								<div class="form-group">
									<label>Description</label>
									<editor></editor>
								</div>
								<div class="form-group">
									<label>Slider Video</label>
									<div class="slider-video-cntnt">
										<div class="video">
											<img src="assets/img/video.png" class="img-fluid speaker-vdeo">
											<div class="virde_play_btn play-1st">
												<img src="assets/img/play-btn.png" class="img-fluid">
											</div>
											<div class="upload-imag text-center">
												<button class="btn-primary btn mt-3 position-relative">
													<input type="file" name="" class="img-input-upld">
												Upload Video
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>