<section class="employer-header-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Recruitment Solutions Header Section</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Title</label>
									<input type="text" name="" class="form-control" value="Don’t have time to recruit candidates? We can help!">
								</div>
								<div class="form-group">
									<label>Sub-Heading</label>
									<input type="text" name="" class="form-control" value="Save 10 hours a week sourcing and screening candidates. Let Top Graduates Recruitment help you today!">
								</div>
								<div class="form-group">
									<label>Banner Image</label>
									<div class="slider-video-cntnt">
										<div class="prev-upld-img">
											<img src="assets/img/rcrtmntimg.png" class="img-fluid">
											<div class="upload-imag text-center">
												<button class="btn-primary btn  mt-3 position-relative">
													<input type="file" name="" class="img-input-upld">
												Upload Image
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

<section class="work-for-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Why choose TopGraduates</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Heading</label>
									<input type="text" name="" class="form-control" value="Why choose TopGraduates ?">
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

<section class="whychose-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Our Graduate Recruitment Agency</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
								<div class="form-group">
									<label>Description</label>
									<editor></editor>
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

<section class="Endorsed-steps-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Benefits</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="endrose-step">
		      						<div class="form-group">
										<label>1: Icon</label>
										<div class="slider-video-cntnt">
											<div class="prev-upld-img icons">
												<img src="assets/img/access_time.svg" class="img-fluid">
												<div class="upload-imag text-center">
													<button class="btn-primary btn  mt-3 position-relative">
														<input type="file" name="" class="img-input-upld">
													Upload Image
													</button>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label>Heading</label>
										<input type="text" name="" class="form-control" value="Get hired 3x faster">
									</div>
									<div class="form-group">
										<label>Description</label>
										<editor></editor>
									</div>
		      					</div>
		      					<div class="endrose-step">
		      						<div class="form-group">
										<label>2: Icon</label>
										<div class="slider-video-cntnt">
											<div class="prev-upld-img icons">
												<img src="assets/img/ondemand_video.svg" class="img-fluid">
												<div class="upload-imag text-center">
													<button class="btn-primary btn  mt-3 position-relative">
														<input type="file" name="" class="img-input-upld">
													Upload Image
													</button>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label>Heading</label>
										<input type="text" name="" class="form-control" value="Bonus Video Resume">
									</div>
									<div class="form-group">
										<label>Description</label>
										<editor></editor>
									</div>
		      					</div>
		      					<div class="endrose-step">
		      						<div class="form-group">
										<label>3: Icon</label>
										<div class="slider-video-cntnt">
											<div class="prev-upld-img icons">
												<img src="assets/img/assessment.svg" class="img-fluid">
												<div class="upload-imag text-center">
													<button class="btn-primary btn  mt-3 position-relative">
														<input type="file" name="" class="img-input-upld">
													Upload Image
													</button>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label>Heading</label>
										<input type="text" name="" class="form-control" value="Profile Booster">
									</div>
									<div class="form-group">
										<label>Description</label>
										<editor></editor>
									</div>
		      					</div>
		      					<div class="endrose-step">
		      						<div class="form-group">
										<label>4: Icon</label>
										<div class="slider-video-cntnt">
											<div class="prev-upld-img icons">
												<img src="assets/img/description.svg" class="img-fluid">
												<div class="upload-imag text-center">
													<button class="btn-primary btn  mt-3 position-relative">
														<input type="file" name="" class="img-input-upld">
													Upload Image
													</button>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label>Heading</label>
										<input type="text" name="" class="form-control" value="Resume & Cover Letter">
									</div>
									<div class="form-group">
										<label>Description</label>
										<editor></editor>
									</div>
		      					</div>
		      					<div class="endrose-step">
		      						<div class="form-group">
										<label>5: Icon</label>
										<div class="slider-video-cntnt">
											<div class="prev-upld-img icons">
												<img src="assets/img/link.svg" class="img-fluid">
												<div class="upload-imag text-center">
													<button class="btn-primary btn  mt-3 position-relative">
														<input type="file" name="" class="img-input-upld">
													Upload Image
													</button>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label>Heading</label>
										<input type="text" name="" class="form-control" value="LinkedIn Profile Booster">
									</div>
									<div class="form-group">
										<label>Description</label>
										<editor></editor>
									</div>
		      					</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

<section class="whychose-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>We provide you with the essentials</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
								<div class="form-group">
									<label>Description</label>
									<editor></editor>
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

<section class="whychose-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Recruitment Step 1</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Heading</label>
									<input type="text" name="" class="form-control" value="Recruitment Consultation">
								</div>
								<div class="form-group">
									<label>Description</label>
									<editor></editor>
								</div>
								<div class="form-group">
									<label>Section Image</label>
									<div class="slider-video-cntnt">
										<div class="prev-upld-img">
											<img src="assets/img/s1img.png" class="img-fluid">
											<div class="upload-imag text-center">
												<button class="btn-primary btn  mt-3 position-relative">
													<input type="file" name="" class="img-input-upld">
												Upload Image
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

<section class="whychose-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Recruitment Step 2</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Heading</label>
									<input type="text" name="" class="form-control" value="Talent sourcing">
								</div>
								<div class="form-group">
									<label>Description</label>
									<editor></editor>
								</div>
								<div class="form-group">
									<label>Section Image</label>
									<div class="slider-video-cntnt">
										<div class="prev-upld-img">
											<img src="assets/img/s2img.png" class="img-fluid">
											<div class="upload-imag text-center">
												<button class="btn-primary btn  mt-3 position-relative">
													<input type="file" name="" class="img-input-upld">
												Upload Image
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

<section class="whychose-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Recruitment Step 3</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Heading</label>
									<input type="text" name="" class="form-control" value="Candidate screening">
								</div>
								<div class="form-group">
									<label>Description</label>
									<editor></editor>
								</div>
								<div class="form-group">
									<label>Section Image</label>
									<div class="slider-video-cntnt">
										<div class="prev-upld-img">
											<img src="assets/img/s3img.png" class="img-fluid">
											<div class="upload-imag text-center">
												<button class="btn-primary btn  mt-3 position-relative">
													<input type="file" name="" class="img-input-upld">
												Upload Image
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

<section class="whychose-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Recruitment Step 4</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Heading</label>
									<input type="text" name="" class="form-control" value="In depth interviews">
								</div>
								<div class="form-group">
									<label>Description</label>
									<editor></editor>
								</div>
								<div class="form-group">
									<label>Section Image</label>
									<div class="slider-video-cntnt">
										<div class="prev-upld-img">
											<img src="assets/img/s4img.png" class="img-fluid">
											<div class="upload-imag text-center">
												<button class="btn-primary btn  mt-3 position-relative">
													<input type="file" name="" class="img-input-upld">
												Upload Image
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

<section class="whychose-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Recruitment Step 5</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Heading</label>
									<input type="text" name="" class="form-control" value="Meet the best">
								</div>
								<div class="form-group">
									<label>Description</label>
									<editor></editor>
								</div>
								<div class="form-group">
									<label>Section Image</label>
									<div class="slider-video-cntnt">
										<div class="prev-upld-img">
											<img src="assets/img/s5img.png" class="img-fluid">
											<div class="upload-imag text-center">
												<button class="btn-primary btn  mt-3 position-relative">
													<input type="file" name="" class="img-input-upld">
												Upload Image
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

<section class="whychose-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Recruitment Step 6</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Heading</label>
									<input type="text" name="" class="form-control" value="Verify & Select">
								</div>
								<div class="form-group">
									<label>Description</label>
									<editor></editor>
								</div>
								<div class="form-group">
									<label>Section Image</label>
									<div class="slider-video-cntnt">
										<div class="prev-upld-img">
											<img src="assets/img/s6img.png" class="img-fluid">
											<div class="upload-imag text-center">
												<button class="btn-primary btn  mt-3 position-relative">
													<input type="file" name="" class="img-input-upld">
												Upload Image
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>


<section class="tstimnl-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Testimonials</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Testimonial 1: Image</label>
									<div class="slider-video-cntnt">
										<div class="prev-upld-img icons">
											<img src="assets/img/avatars/8.jpg" class="img-fluid">
											<div class="upload-imag text-center">
												<button class="btn-primary btn  mt-3 position-relative">
													<input type="file" name="" class="img-input-upld">
												Upload Image
												</button>
											</div>
										</div>
									</div>
								</div>
		      					<div class="form-group">
									<label>Name</label>
									<input type="text" name="" class="form-control" value="James">
								</div>
								<div class="form-group">
									<label>Description</label>
									<editor></editor>
								</div>

								<div class="form-group">
									<label>Testimonial 2: Image</label>
									<div class="slider-video-cntnt">
										<div class="prev-upld-img icons">
											<img src="assets/img/avatars/5.jpg" class="img-fluid">
											<div class="upload-imag text-center">
												<button class="btn-primary btn  mt-3 position-relative">
													<input type="file" name="" class="img-input-upld">
												Upload Image
												</button>
											</div>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label>Name</label>
									<input type="text" name="" class="form-control" value="Andrea">
								</div>
								<div class="form-group">
									<label>Description</label>
									<editor></editor>
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>



<section class="opportunities-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Our Success Stories</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Heading</label>
									<input type="text" name="" class="form-control" value="Our Success Stories">
								</div>
								<div class="form-group">
									<label>Description</label>
									<editor></editor>
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

<section class="opportunities-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Want to know more?</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Heading</label>
									<input type="text" name="" class="form-control" value="Want to know more?">
								</div>
								<div class="form-group">
									<label>Description</label>
									<editor></editor>
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>



























