<section class="home-header-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>How it Work</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Main Title</label>
									<input type="text" name="" class="form-control" value="How it works">
								</div>
								<div class="form-group">
									<label>Description</label>
									<editor></editor>
								</div>
								<div class="form-group">
									<label>Step 1</label>
									<editor></editor>
								</div>
								<div class="form-group">
									<label>Step 2</label>
									<editor></editor>
								</div>
								<div class="form-group">
									<label>Step 3</label>
									<editor></editor>
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>