<section class="something-for-everyone-sec">
	<div class="row">
		<div class="col-sm-12">
			<div class="uppr_tabs">
				<mat-tab-group>
				  	<mat-tab label="Graduates">
				  		<div class="insid_tabs">
						  	<ng-template matTabContent>
						  		<div class="card">
						  			<div class="card-body">
						  				<div class="slide-cs text-right">
					      					<span class="mr-2">Visibility </span>
					      					<mat-slide-toggle></mat-slide-toggle>
					      				</div>
						  				<div class="insid_tabs emp_home_page">
										  	<form>
										  		<div class="form-group">
										  			<label>Title</label>
										  			<input type="text" name="" class="form-control">
										  		</div>
										  		<div class="form-group">
										  			<label>Description</label>
										  			<editor></editor>
										  		</div>
											  	<div class="form-group">
											  		<label>Main Image</label>
											  		<div class="upld-body">
												  		<div class="prev-upld-img mb-3">
															<img src="assets/img/grads.png" class="img-fluid">
															<div class="upload-imag text-center">
																<button class="btn-primary btn mt-3 position-relative">
																	<input type="file" name="" class="img-input-upld">
																Upload Image
																</button>
															</div>
														</div>
													</div>
											  	</div>
											  	<div class="home-manage-btns edit-btns d-flex justify-content-end">
											  		<button class="btn btn-primary mr-4">Save</button>
													<button class="btn btn-primary">Cancel</button>
											  	</div>
										  	</form>
										</div>
						  			</div>
						  		</div>
						  	</ng-template>
						</div>
				  	</mat-tab>
				  	<mat-tab label="Employers">
				  		<ng-template matTabContent>
					  		<div class="card">
					  			<div class="card-body">
					  				<div class="slide-cs text-right">
				      					<span class="mr-2">Visibility </span>
				      					<mat-slide-toggle></mat-slide-toggle>
				      				</div>
					  				<div class="insid_tabs emp_home_page">
									  	<form>
									  		<div class="form-group">
									  			<label>Title</label>
									  			<input type="text" name="" class="form-control">
									  		</div>
									  		<div class="form-group">
									  			<label>Description</label>
									  			<editor></editor>
									  		</div>
										  	<div class="form-group">
										  		<label>Main Image</label>
										  		<div class="upld-body">
										  			<div class="prev-upld-img mb-3">
														<img src="assets/img/grads.png" class="img-fluid">
														<div class="upload-imag text-center">
															<button class="btn-primary btn mt-3 position-relative">
																<input type="file" name="" class="img-input-upld">
															Upload Image
															</button>
														</div>
													</div>
										  		</div>
										  	</div>
										  	<div class="home-manage-btns edit-btns d-flex justify-content-end">
										  		<button class="btn btn-primary mr-4">Save</button>
												<button class="btn btn-primary">Cancel</button>
										  	</div>
									  	</form>
									</div>
					  			</div>
					  		</div>
					  	</ng-template>
				  	</mat-tab>
				</mat-tab-group>
			</div>
		</div>
	</div>
</section>
