<section class="home-header-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header">
	      				<strong>Privacy Policy</strong>
	      			</div>
	      			<div class="card-body">
	      				<form [formGroup]="privacyform">
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Title</label>
									<input type="text" name="" class="form-control" value="" [(ngModel)]="title" [formControl]="privacyform.controls['title']">
								</div>
								<div class="form-group">
									<label>Description</label>
									<editor [(ngModel)]="description" [formControl]="privacyform.controls['description']"></editor>
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4" (click)="updatecms()">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>
