<section class="employer-header-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Graduate Header Section</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Title</label>
									<input type="text" name="" class="form-control" value="Finding graduate talent made easy.">
								</div>
								<div class="form-group">
									<label>Banner Image</label>
									<div class="slider-video-cntnt">
										<div class="prev-upld-img">
											<img src="assets/img/graduate_hw.png" class="img-fluid">
											<div class="upload-imag text-center">
												<button class="btn-primary btn  mt-3 position-relative">
													<input type="file" name="" class="img-input-upld">
												Upload Image
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

<section class="whychose-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Why choose TopGrads</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Heading</label>
									<input type="text" name="" class="form-control" value="Why choose TopGrads?">
								</div>
								<div class="form-group">
									<label>Description</label>
									<editor></editor>
								</div>
								<div class="form-group">
									<label>Section Image</label>
									<div class="slider-video-cntnt">
										<div class="prev-upld-img">
											<img src="assets/img/graduate_hit.png" class="img-fluid">
											<div class="upload-imag text-center">
												<button class="btn-primary btn  mt-3 position-relative">
													<input type="file" name="" class="img-input-upld">
												Upload Image
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

<section class="work-for-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>We do the work for you.</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Heading</label>
									<input type="text" name="" class="form-control" value="We do the work for you.">
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

<section class="candidate-animate-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Candidate Profile Animation</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
								<div class="form-group">
									<label>Section Image</label>
									<div class="slider-video-cntnt">
										<div class="prev-upld-img">
											<img src="assets/img/graduate_profile.png" class="img-fluid">
											<div class="upload-imag text-center">
												<button class="btn-primary btn  mt-3 position-relative">
													<input type="file" name="" class="img-input-upld">
												Upload Image
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label>Animation Image</label>
									<div class="slider-video-cntnt">
										<div class="prev-upld-img">
											<img src="assets/img/briefcase.png" class="img-fluid">
											<div class="upload-imag text-center">
												<button class="btn-primary btn  mt-3 position-relative">
													<input type="file" name="" class="img-input-upld">
												Upload Image
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

<section class="opportunities-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Let opportunities approach you</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Heading</label>
									<input type="text" name="" class="form-control" value="Let opportunities approach you">
								</div>
								<div class="form-group">
									<label>Description</label>
									<editor></editor>
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>


<!-- Listing of candidate profiles -->
<section class="profile-match-listing">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Profile Match Listing</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>No. of Listings to be displayed</label>
									<input type="number" name="" class="form-control" value="4">
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

<section class="perfectjob-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>We match you with the perfect job</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Heading</label>
									<input type="text" name="" class="form-control" value="We match you with the perfect job">
								</div>
								<div class="form-group">
									<label>Description</label>
									<editor></editor>
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

<section class="Trackprogress-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Track your progress with a transparent process</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Heading</label>
									<input type="text" name="" class="form-control" value="Track your progress with a transparent process">
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

<section class="organisedashboard-components">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header d-flex justify-content-between">
						<strong>Graduate Dashboard Components</strong>
						<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
					</div>
					<div class="card-body">
						<div class="enable-organise">
							<ngx-dropzone (change)="onSelect($event)">
								<ngx-dropzone-label>Drop your files here!</ngx-dropzone-label>
								<ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
									<ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
								</ngx-dropzone-preview>
							</ngx-dropzone>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="PersonalisedDashboard-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Your Personalised Dashboard</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Heading</label>
									<input type="text" name="" class="form-control" value="Your Personalised Dashboard">
								</div>
								<div class="form-group">
									<label>Description</label>
									<editor></editor>
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

<section class="progress-animation-blocks">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Progress Animation Blocks</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="anime-blocks">
		      						<div class="form-group">
										<label>Tab 1 text</label>
										<input type="text" name="" class="form-control" value="Finding graduate talent made easy.">
									</div>
									<div class="form-group">
										<label>Image</label>
										<div class="slider-video-cntnt">
											<div class="anim-imgs">
												<img src="assets/img/block-anim1.png" class="img-fluid">
												<div class="upload-imag text-center">
													<button class="btn-primary btn  mt-3 position-relative">
														<input type="file" name="" class="img-input-upld">
													Upload Image
													</button>
												</div>
											</div>
										</div>
									</div>
		      					</div>
		      					<div class="anime-blocks">
		      						<div class="form-group">
										<label>Tab 2 text</label>
										<input type="text" name="" class="form-control" value="Finding graduate talent made easy.">
									</div>
									<div class="form-group">
										<label>Image</label>
										<div class="slider-video-cntnt">
											<div class="anim-imgs">
												<img src="assets/img/block-anim2.png" class="img-fluid">
												<div class="upload-imag text-center">
													<button class="btn-primary btn  mt-3 position-relative">
														<input type="file" name="" class="img-input-upld">
													Upload Image
													</button>
												</div>
											</div>
										</div>
									</div>
		      					</div>
		      					<div class="anime-blocks">
		      						<div class="form-group">
										<label>Tab 3 text</label>
										<input type="text" name="" class="form-control" value="Finding graduate talent made easy.">
									</div>
									<div class="form-group">
										<label>Image</label>
										<div class="slider-video-cntnt">
											<div class="anim-imgs">
												<img src="assets/img/block-anim3.png" class="img-fluid">
												<div class="upload-imag text-center">
													<button class="btn-primary btn  mt-3 position-relative">
														<input type="file" name="" class="img-input-upld">
													Upload Image
													</button>
												</div>
											</div>
										</div>
									</div>
		      					</div>
		      					<div class="anime-blocks">
		      						<div class="form-group">
										<label>Tab 4 text</label>
										<input type="text" name="" class="form-control" value="Finding graduate talent made easy.">
									</div>
									<div class="form-group">
										<label>Image</label>
										<div class="slider-video-cntnt">
											<div class="anim-imgs">
												<img src="assets/img/block-anim4.png" class="img-fluid">
												<div class="upload-imag text-center">
													<button class="btn-primary btn  mt-3 position-relative">
														<input type="file" name="" class="img-input-upld">
													Upload Image
													</button>
												</div>
											</div>
										</div>
									</div>
		      					</div>
		      					<div class="anime-blocks">
		      						<div class="form-group">
										<label>Tab 5 text</label>
										<input type="text" name="" class="form-control" value="Finding graduate talent made easy.">
									</div>
									<div class="form-group">
										<label>Image</label>
										<div class="slider-video-cntnt">
											<div class="anim-imgs">
												<img src="assets/img/block-anim6.png" class="img-fluid">
												<div class="upload-imag text-center">
													<button class="btn-primary btn  mt-3 position-relative">
														<input type="file" name="" class="img-input-upld">
													Upload Image
													</button>
												</div>
											</div>
										</div>
									</div>
		      					</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

<section class="See-the-progress">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>See the progress of your applications and interviews</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Heading</label>
									<input type="text" name="" class="form-control" value="See the progress of your applications and interviews">
								</div>
								<div class="form-group">
									<label>Description</label>
									<editor></editor>
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

<section class="interview-status">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Interview Status Listing</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>No. of Listings to be displayed</label>
									<input type="number" name="" class="form-control" value="3">
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

<section class="Seek-feedback">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Seek feedback with a click</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Heading</label>
									<input type="text" name="" class="form-control" value="Seek feedback with a click">
								</div>
								<div class="form-group">
									<label>Description</label>
									<editor></editor>
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

<section class="Apply-with-no-sweat">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Apply with no sweat, and make an impression</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Heading</label>
									<input type="text" name="" class="form-control" value="Apply with no sweat, and make an impression">
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

<section class="Pre-filled-applications">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Pre filled applications ready to submit</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Heading</label>
									<input type="text" name="" class="form-control" value="Pre filled applications ready to submit">
								</div>
								<div class="form-group">
									<label>Description</label>
									<editor></editor>
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

<section class="Get-Endorsed">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Get Endorsed</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Heading</label>
									<input type="text" name="" class="form-control" value="Get Endorsed">
								</div>
								<div class="form-group">
									<label>Description</label>
									<editor></editor>
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

<section class="employer-footer-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Graduate Footer</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
								<div class="form-group">
									<label>Footer Image</label>
									<div class="slider-video-cntnt">
										<div class="prev-upld-img">
											<img src="assets/img/gard-footer.png" class="img-fluid">
											<div class="upload-imag text-center">
												<button class="btn-primary btn  mt-3 position-relative">
													<input type="file" name="" class="img-input-upld">
												Upload Image
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>
