<section class="home-header-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header">
	      				<strong>Edit Interview Details</strong>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="row">
		      						<div class="col-md-6">
		      							<div class="form-group">
											<label>Candidate</label>
											<input type="text" name="" class="form-control" value="Charlie Herwitz" disabled="">
										</div>
		      						</div>
		      						<div class="col-md-6">
		      							<div class="form-group">
											<label>Employer</label>
											<input type="text" name="" class="form-control" value="Michael Smith" disabled="">
										</div>
		      						</div>
		      					</div>
		      					<div class="row">
		      						<div class="col-md-12">
		      							<div class="form-group">
											<label>Job Title</label>
											<input type="text" name="" class="form-control" value="Software Developer" disabled="">
										</div>
		      						</div>
		      					</div>
		      					<div class="row">
		      						<div class="col-md-4">
		      							<div class="form-group">
											<label>Date</label>
											<input type="text" name="" class="form-control" value=" 08-09-2021">
										</div>
		      						</div>
		      						<div class="col-md-4">
		      							<div class="form-group">
											<label>Time Start</label>
											<select class="form-control">
								                <option>10.00 AM</option>
								                <option>11.00 AM</option>
								            </select>
										</div>
		      						</div>
		      						<div class="col-md-4">
		      							<div class="form-group">
											<label>Time End</label>
											<select class="form-control">
								                <option>11.00 AM</option>
								                <option>12.00 AM</option>
								            </select>
										</div>
		      						</div>
		      					</div>
		      					<div class="row">
		      						<div class="col-md-12">
		      							<div class="form-group">
											<label>Time Zone</label>
											<select class="form-control">
								                <option>(GMT +10) Australian East Standard Time</option>
								                <option>(GMT +10) Australian East Standard Time</option>
								            </select>
										</div>
		      						</div>
		      					</div>
		      					<div class="row">
		      						<div class="col-md-12">
		      							<div class="form-group">
											<label>Interview Method</label>
											<select class="form-control">
								                <option>Phone</option>
								                <option>Video</option>
								                <option>Face-to-Face</option>
								            </select>
										</div>
		      						</div>
		      					</div>
		      					<div class="row">
		      						<div class="col-md-12">
		      							<div class="form-group">
											<label>Phone Number</label>
											<input type="text" name="" class="form-control" value="9575578657">
										</div>
		      						</div>
		      						<div class="col-md-6">
		      							<div class="form-group">
											<label>Select Video Conferencing Application</label>
											<div class="vdo_aplctns">
												<img src="assets/img/zoom.png" class="img-fluid mr-2">
												<img src="assets/img/hangout.png" class="img-fluid mr-2">
												<img src="assets/img/team.png" class="img-fluid">
											</div>
										</div>
		      						</div>
		      						<div class="col-md-6">
		      							<div class="form-group">
											<label>Meeting Link</label>
											<input type="text" name="" class="form-control" value="https://www.google.com/search">
										</div>
		      						</div>
		      						<div class="col-md-12">
		      							<div class="form-group">
											<label>Location</label>
											<input type="text" name="" class="form-control" value="553 Swanston Street, Melbourne, Victoria 3000">
										</div>
		      						</div>
		      					</div>
		      					<div class="row">
		      						<div class="col-md-12">
		      							<div class="form-group">
											<label>Notes</label>
											<input type="text" name="" class="form-control" value="Has worked with marketing coordinator Conner Kent before">
										</div>
		      						</div>
		      					</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

