<section class="employer-header-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Video Intro Header Section</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
								<div class="form-group">
									<label>Main Image</label>
									<div class="slider-video-cntnt">
										<div class="prev-upld-img resume_img">
											<img src="assets/img/video_img.png" class="img-fluid">
											<div class="upload-imag text-center">
												<button class="btn-primary btn  mt-3 position-relative">
													<input type="file" name="" class="img-input-upld">
												Upload Image
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

<section class="Endorsed-steps-sec resume_tips_sctn video_resm">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Video Resume Tips</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Main Heading</label>
									<input type="text" name="" class="form-control" value="Why should you upload your Video Resume?">
								</div>
								<div class="form-group">
									<label>Sub Heading</label>
									<input type="text" name="" class="form-control" value="Video resumes create a connection between you and the recruiters.">
								</div>
		      					<div class="endrose-step">
		      						<div class="form-group">
										<label>1: Image</label>
										<div class="slider-video-cntnt">
											<div class="prev-upld-img icons">
												<img src="assets/img/video-card1.png" class="img-fluid">
												<div class="upload-imag text-center">
													<button class="btn-primary btn  mt-3 position-relative">
														<input type="file" name="" class="img-input-upld">
													Upload Image
													</button>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label>Heading</label>
										<input type="text" name="" class="form-control" value="Get found by Recruiter">
									</div>
		      					</div>
		      					<div class="endrose-step">
		      						<div class="form-group">
										<label>2: Image</label>
										<div class="slider-video-cntnt">
											<div class="prev-upld-img icons">
												<img src="assets/img/video-card2.png" class="img-fluid">
												<div class="upload-imag text-center">
													<button class="btn-primary btn  mt-3 position-relative">
														<input type="file" name="" class="img-input-upld">
													Upload Image
													</button>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label>Heading</label>
										<input type="text" name="" class="form-control" value="Get into more Interviews">
									</div>
		      					</div>
		      					<div class="endrose-step">
		      						<div class="form-group">
										<label>3: Image</label>
										<div class="slider-video-cntnt">
											<div class="prev-upld-img icons">
												<img src="assets/img/video-card3.png" class="img-fluid">
												<div class="upload-imag text-center">
													<button class="btn-primary btn  mt-3 position-relative">
														<input type="file" name="" class="img-input-upld">
													Upload Image
													</button>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label>Heading</label>
										<input type="text" name="" class="form-control" value="Get Hired Faster">
									</div>
		      					</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

<section class="work-for-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Get started</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Heading</label>
									<input type="text" name="" class="form-control" value="Get started with three easy steps">
								</div>
								<div class="form-group">
									<label>Image</label>
									<div class="slider-video-cntnt">
										<div class="prev-upld-img resume_img">
											<img src="assets/img/steps_img.png" class="img-fluid">
											<div class="upload-imag text-center">
												<button class="btn-primary btn  mt-3 position-relative">
													<input type="file" name="" class="img-input-upld">
												Upload Image
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

































