<section class="home-header-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header">
	      				<strong>Add FAQ</strong>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Category</label>
									<input type="text" name="" class="form-control" value="General" disabled="disabled">
								</div>
		      					<div class="form-group">
									<label>Title</label>
									<input type="text" name="" class="form-control" placeholder="Enter Title" value="How do I keep track of a b c?" disabled="disabled">
								</div>
								<div class="form-group">
									<label>Description</label>
									<textarea class="form-control" rows="4" disabled="disabled">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar venenatis lorem risus ipsum pharetra molestie sem iaculis sapien.</textarea>
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

