<section class="home-header-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Home Header Section</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Title</label>
									<editor initialValue="Top Platform to find the Best Employer"></editor>
								</div>
								<div class="form-group">
									<label>Section Image</label>
									<div class="slider-video-cntnt">
										<div class="prev-upld-img">
											<img src="assets/img/home-img.png" class="img-fluid">
											<div class="upload-imag text-center">
												<button class="btn-primary btn  mt-3 position-relative">
													<input type="file" name="" class="img-input-upld">
												Upload Image
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

<section class="home-header-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Our Story Section</strong>
	      				<div class="slide-cs text-right">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Title</label>
									<input type="text" name="" class="form-control" value="Our story">
								</div>
								<div class="form-group">
									<label>Description</label>
									<editor></editor>
								</div>
								<div class="form-group">
									<label>Section Video</label>
									<div class="slider-video-cntnt">
										<div class="video">
											<img src="assets/img/video.png" class="img-fluid speaker-vdeo">
											<div class="virde_play_btn play-1st">
												<img src="assets/img/playbtn.svg" class="img-fluid">
											</div>
											<div class="upload-imag text-center">
												<button class="btn-primary btn mt-3 position-relative">
													<input type="file" name="" class="img-input-upld">
												Upload Video
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label>Posted By</label>
									<input type="text" name="" class="form-control" value="Naren Chellappah">
								</div>
								<div class="form-group">
									<label>Posted Position</label>
									<input type="text" name="" class="form-control" value="Founder of Top Graduates">
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

<section class="work-for-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Curated Especially For You</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Heading</label>
									<editor initialValue="Curated Especially For You"></editor>
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

<section class="work-for-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>The Main Benefits For Both</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
									<label>Heading</label>
									<input type="text" name="" class="form-control" value="The Main Benefits For Both">
								</div>
		      				</div>
		      				<div class="card">
		      					<div class="card-body p-0">
		      						<div class="uppr_tabs">
										<mat-tab-group>
										  	<mat-tab label="Employers">
										  		<div class="insid_tabs">
												  	<ng-template matTabContent>
												  		<div class="grad_card">
												  			<div class="grad_tab">
												  				<div class="slide-cs text-right">
											      					<span class="mr-2">Visibility </span>
											      					<mat-slide-toggle></mat-slide-toggle>
											      				</div>
												  				<div class="insid_tabs emp_home_page">
																  	<form>
																  		<div class="form-group">
																  			<label>Tab1 Heading</label>
																  			<input type="text" name="" class="form-control" value="Super Intelligent Algorithm">
																  		</div>
																  		<div class="form-group">
																  			<label>Description</label>
																  			<textarea class="form-control" rows="4">TopGraduates helps you you save time filtering candidates using unique algorithm so that you can find the right candidate.</textarea>
																  		</div>
																	  	<div class="form-group">
																	  		<label>Tab1 Image</label>
																	  		<div class="upld-body">
																		  		<div class="prev-upld-img mb-3">
																					<img src="assets/img/etabimg1.png" class="img-fluid">
																					<div class="upload-imag text-center">
																						<button class="btn-primary btn mt-3 position-relative">
																							<input type="file" name="" class="img-input-upld">
																						Upload Image
																						</button>
																					</div>
																				</div>
																			</div>
																	  	</div>

																	  	<div class="form-group">
																  			<label>Tab2 Heading</label>
																  			<input type="text" name="" class="form-control" value="Fee-less job posting">
																  		</div>
																  		<div class="form-group">
																  			<label>Description</label>
																  			<textarea class="form-control" rows="4">Create job listings with highly specific candidate preferences, optimising your hiring process from the start.</textarea>
																  		</div>
																	  	<div class="form-group">
																	  		<label>Tab2 Image</label>
																	  		<div class="upld-body">
																		  		<div class="prev-upld-img mb-3">
																					<img src="assets/img/etabimg2.png" class="img-fluid">
																					<div class="upload-imag text-center">
																						<button class="btn-primary btn mt-3 position-relative">
																							<input type="file" name="" class="img-input-upld">
																						Upload Image
																						</button>
																					</div>
																				</div>
																			</div>
																	  	</div>

																	  	<div class="form-group">
																  			<label>Tab3 Heading</label>
																  			<input type="text" name="" class="form-control" value="Access to Graduates all over australia">
																  		</div>
																  		<div class="form-group">
																  			<label>Description</label>
																  			<textarea class="form-control" rows="4">TopGraduates has thousands of graduates from a range of fields and study areas who are job-ready and eager to start their careers.</textarea>
																  		</div>
																	  	<div class="form-group">
																	  		<label>Tab3 Image</label>
																	  		<div class="upld-body">
																		  		<div class="prev-upld-img mb-3">
																					<img src="assets/img/etabimg3.png" class="img-fluid">
																					<div class="upload-imag text-center">
																						<button class="btn-primary btn mt-3 position-relative">
																							<input type="file" name="" class="img-input-upld">
																						Upload Image
																						</button>
																					</div>
																				</div>
																			</div>
																	  	</div>
																	  	<div class="home-manage-btns edit-btns d-flex justify-content-end">
																	  		<button class="btn btn-primary mr-4">Save</button>
																			<button class="btn btn-primary">Cancel</button>
																	  	</div>
																  	</form>
																</div>
												  			</div>
												  		</div>
												  	</ng-template>
												</div>
										  	</mat-tab>
										  	<mat-tab label="Graduates">
										  		<div class="insid_tabs">
												  	<ng-template matTabContent>
												  		<div class="grad_card">
												  			<div class="grad_tab">
												  				<div class="slide-cs text-right">
											      					<span class="mr-2">Visibility </span>
											      					<mat-slide-toggle></mat-slide-toggle>
											      				</div>
												  				<div class="insid_tabs emp_home_page">
																  	<form>
																  		<div class="form-group">
																  			<label>Tab1 Heading</label>
																  			<input type="text" name="" class="form-control" value="Tailored Job Search Algorithm">
																  		</div>
																  		<div class="form-group">
																  			<label>Description</label>
																  			<textarea class="form-control" rows="4">TopGraduates uses a unique matching system to connect you to companies in your industry. So when suitable jobs are available, you get notified!</textarea>
																  		</div>
																	  	<div class="form-group">
																	  		<label>Tab1 Image</label>
																	  		<div class="upld-body">
																		  		<div class="prev-upld-img mb-3">
																					<img src="assets/img/gtabimg1.png" class="img-fluid">
																					<div class="upload-imag text-center">
																						<button class="btn-primary btn mt-3 position-relative">
																							<input type="file" name="" class="img-input-upld">
																						Upload Image
																						</button>
																					</div>
																				</div>
																			</div>
																	  	</div>

																	  	<div class="form-group">
																  			<label>Tab2 Heading</label>
																  			<input type="text" name="" class="form-control" value="Get Hired Faster!">
																  		</div>
																  		<div class="form-group">
																  			<label>Description</label>
																  			<textarea class="form-control" rows="4">When you join TopGraduates, employers find you first! We do the hard work by bringing thousands of employers and recruiters directly to you!</textarea>
																  		</div>
																	  	<div class="form-group">
																	  		<label>Tab2 Image</label>
																	  		<div class="upld-body">
																		  		<div class="prev-upld-img mb-3">
																					<img src="assets/img/gtabimg2.png" class="img-fluid">
																					<div class="upload-imag text-center">
																						<button class="btn-primary btn mt-3 position-relative">
																							<input type="file" name="" class="img-input-upld">
																						Upload Image
																						</button>
																					</div>
																				</div>
																			</div>
																	  	</div>

																	  	<div class="form-group">
																  			<label>Tab3 Heading</label>
																  			<input type="text" name="" class="form-control" value="Personalised Experience">
																  		</div>
																  		<div class="form-group">
																  			<label>Description</label>
																  			<textarea class="form-control" rows="4">We help you organise everything to do with your career. All your tasks, applications, interviews, offers and events are at your fingertips.</textarea>
																  		</div>
																	  	<div class="form-group">
																	  		<label>Tab3 Image</label>
																	  		<div class="upld-body">
																		  		<div class="prev-upld-img mb-3">
																					<img src="assets/img/gtabimg3.png" class="img-fluid">
																					<div class="upload-imag text-center">
																						<button class="btn-primary btn mt-3 position-relative">
																							<input type="file" name="" class="img-input-upld">
																						Upload Image
																						</button>
																					</div>
																				</div>
																			</div>
																	  	</div>
																	  	<div class="home-manage-btns edit-btns d-flex justify-content-end">
																	  		<button class="btn btn-primary mr-4">Save</button>
																			<button class="btn btn-primary">Cancel</button>
																	  	</div>
																  	</form>
																</div>
												  			</div>
												  		</div>
												  	</ng-template>
												</div>
										  	</mat-tab>
										</mat-tab-group>
									</div>
		      					</div>
		      				</div>
		      				
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

<section class="home-header-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>These Companies Help..</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
						  			<label>Heading</label>
						  			<input type="text" name="" class="form-control" value="These Companies Help Provide The Best TopGraduates Experience">
						  		</div>
						  		<div class="form-group">
						  			<label>Company's Logo</label>
						  			<div class="enable-organise">
										<ngx-dropzone (change)="onSelect($event)">
											<ngx-dropzone-label>Drop your files here!</ngx-dropzone-label>
											<ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
												<ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
											</ngx-dropzone-preview>
										</ngx-dropzone>
									</div>
									<div class="cmp_logos">
										<img src="assets/img/logo1.png" class="img-fluid">
										<img src="assets/img/logo2.png" class="img-fluid">
										<img src="assets/img/logo3.png" class="img-fluid">
										<img src="assets/img/logo4.png" class="img-fluid">
										<img src="assets/img/logo5.png" class="img-fluid">
										<img src="assets/img/logo6.png" class="img-fluid">
										<img src="assets/img/logo7.png" class="img-fluid">
									</div>
						  		</div>
						  		
								<div class="form-group">
									<label>Section Image</label>
									<div class="slider-video-cntnt">
										<div class="prev-upld-img">
											<img src="assets/img/cmp-help.png" class="img-fluid">
											<div class="upload-imag text-center">
												<button class="btn-primary btn  mt-3 position-relative">
													<input type="file" name="" class="img-input-upld">
												Upload Image
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>


<section class="add-slider-item">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header">
	      				<strong>Our Success Stories</strong>
	      			</div>
	      			<div class="card-body">
	      				<form>
		      				<div class="home-mng-form">
		      					<div class="form-group">
						  			<label>Heading</label>
						  			<input type="text" name="" class="form-control" value="Our Success Stories">
						  		</div>
						  		<div class="form-group">
									<label>Slider Video</label>
									<div class="slider-video-cntnt">
										<div class="video">
											<img src="assets/img/success.png" class="img-fluid speaker-vdeo">
											<div class="virde_play_btn play-1st">
												<img src="assets/img/play.png" class="img-fluid">
											</div>
											<div class="upload-imag text-center">
												<button class="btn-primary btn mt-3 position-relative">
													<input type="file" name="" class="img-input-upld">
												Upload Video
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label>Slider1: Description</label>
									<editor></editor>
								</div>
								<div class="form-group">
									<label>Slider2: Description</label>
									<editor></editor>
								</div>
								<div class="form-group">
									<label>Slider3: Description</label>
									<editor></editor>
								</div>
								
								<div class="edit-btns d-flex justify-content-end">
									<button class="btn btn-primary mr-4">Save</button>
									<button class="btn btn-primary">Back</button>
								</div>
		      				</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>

<section class="home-header-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Register Now Section</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
	      					<div class="grad-body">
	      						<div class="home-mng-form">
			      					<div class="form-group">
										<label>Text</label>
										<input type="text" name="" class="form-control" value="What are you waiting for?">
									</div>
									<div class="form-group">
										<label>Heading</label>
										<input type="text" name="" class="form-control" value="Let’s start your journey!">
									</div>
									<div class="form-group">
										<label>Description</label>
										<textarea class="form-control" rows="4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dui risus rhoncu.</textarea>
									</div>
									<div class="form-group">
										<label>Graduate Image</label>
										<div class="register-tday">
											<div class="upld-body">
												<div class="prev-upld-img  mb-3">
													<img src="assets/img/empp.png" class="img-fluid">
													<div class="upload-imag text-center">
														<button class="btn-primary btn mt-3 position-relative">
															<input type="file" name="" class="img-input-upld">
														Upload Image
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
			      				</div>
	      					</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>