<section class="view-applicant-sec">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="view-applct-wrpr">
					<div class="edit_profil jobApply_modal">
					  	<div class="">
						    <div class="job-content card">
						      	<h2>Applied for Adobe’s UI/UX designer position</h2>
						      	<div class="applicant-wrrpr">
							      	<div class="position_applied">
							      		<div class="collapse_job">
							      			<div id="accordion">
												<div class=" border-0">
												      	<div class="card-link" data-toggle="collapse" href="#collapseOne">
												        Profile information
												      	</div>
												    <div id="collapseOne" class="collapse show" data-parent="#accordion">
												      	<div class="card-body">
												        	<div class="collapse_body">
												        		<div class="collp_info">
												        			<div class="row">
												        				<div class="col-sm-6">
												        					<div class="form-group">
												        						<label>Name</label>
												        						<h4>Nathan Jones</h4>
												        					</div>
												        				</div>
												        				<div class="col-sm-6">
												        					<div class="form-group">
												        						<label>Contact details</label>
												        						<p>nathanjones@domain.com</p>
												        						<p class="mb-0">+61 000 000 000</p>
												        					</div>
												        				</div>
												        				<div class="col-sm-6">
												        					<div class="form-group margnn_upr">
												        						<label>Location</label>
												        						<h4>Melbourne, Victoria, Australia</h4>
												        						<small>Open to remote working/relocation</small>
												        					</div>
												        				</div>
												        				<div class="col-sm-6">
												        					<div class="form-group">
												        						<label>Matching skills</label>
												        						<div class="prvw_jb_skills gradKey_prve">
									                            					<div class="typed_text">
																						<span class="colr_green">Adobe Illustrator</span>
																						<span class="colr_green">Adobe Photoshop</span>
																					</div>
									                            				</div>
												        					</div>
												        				</div>
												        				<div class="col-sm-6">
												        					<div class="form-group">
												        						<label>Work rights</label>
												        						<h4>Permanent Resident/Citizen</h4>
												        						<small>Valid until Nov 2022</small>
												        					</div>
												        				</div>
												        			</div>
												        		</div>
												        	</div>
												      	</div>
												    </div>
												</div>
											</div>
											<div class="resume_wrapper">
												<div class="card-link">
													Resume and cover letter
												</div>
												<div class="upload_sec card-body">
													<p>Resume</p>
													<div class="files_prevw jobFiles_prv">
														<div class="botm_icons_prevw d-flex align-items-center">
															<div class="file_icons_pw d-flex align-items-center">
																<svg width="25" height="32" viewBox="0 0 25 32" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M21.1761 5.17688C20.8764 4.88148 20.5691 4.58109 20.2671 4.27585C19.9625 3.97307 19.663 3.66538 19.3682 3.36506C17.2671 1.21606 16.0158 0 14.7104 0H4.94144C2.2349 0 0.0293812 2.20931 0.0293812 4.92326V24.6657C0.0293812 25.3182 0.55831 25.8471 1.21078 25.8471C1.86324 25.8471 2.39217 25.3182 2.39217 24.6657V4.90854C2.39217 3.54972 3.49247 2.44691 4.8482 2.44691L13.8446 2.44195C14.7191 2.44195 14.7191 3.75896 14.7191 4.85069V8.60098C14.7104 9.84532 14.7104 9.8318 15.9471 9.8318H19.6312C20.8555 9.8318 22.0872 9.83795 22.0872 11.0626V27.0767C22.0872 28.4356 20.9869 29.5384 19.6312 29.5384H4.8482C3.49247 29.5384 2.39217 28.4356 2.39217 27.0767V24.3343C2.39217 23.6737 1.85667 23.1382 1.19609 23.1382C0.535506 23.1382 0 23.6737 0 24.3343V27.0767C0 29.7907 2.20429 32 4.91206 32H19.6213C22.329 32 24.5333 29.7907 24.5333 27.0767V9.84532C24.5333 8.5382 23.3202 7.2828 21.1761 5.17688Z" fill="#9A9A9A"/>
																</svg>
																<div class="prew_info">
																	<p class="pw_accnt mb-0">NathanJones_CV.pdf</p>
																</div>
															</div>
															<div>
																<span class="prev_icons singl_mrggn">
																	<svg width="20" height="13" viewBox="0 0 20 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M1.29565 6.7632C1.1361 6.56013 1.00404 6.38224 0.900947 6.23866C0.997612 6.09726 1.1211 5.92302 1.27053 5.72458C1.69179 5.16511 2.31455 4.41936 3.11828 3.6754C4.7353 2.17866 7.01653 0.75 9.82143 0.75C12.6263 0.75 14.9076 2.17866 16.5246 3.6754C17.3283 4.41936 17.9511 5.16511 18.3723 5.72458C18.5218 5.92302 18.6452 6.09726 18.7419 6.23866C18.6388 6.38224 18.5068 6.56013 18.3472 6.7632C17.9058 7.32498 17.2587 8.07347 16.4375 8.82004C14.7807 10.3262 12.4992 11.75 9.82143 11.75C7.14368 11.75 4.86212 10.3262 3.2054 8.82004C2.38417 8.07347 1.73706 7.32498 1.29565 6.7632Z" stroke="#545465" stroke-width="1.5"/>
																	<circle cx="9.82143" cy="6.24965" r="2.82143" stroke="#545465" stroke-width="1.5"/>
																	</svg>
																</span>
															</div>
														</div>
													</div>
												</div>
												<div class="jobsAdd_cover">
													<div class="d-flex justify-content-between">
														<div class="coverLtter_ttl">
															<p>Cover letter</p>
														</div>
													</div>
													<div class="prevwCover_letter">
														<p>Dear Hiring Manger,<br><br> 
															As a graphic design and UI/UX student graduating from my Bachelor of Design, I am interested in KOJO’s junior designer opportunity. My passion for design and skills for both physical and digital applications illustrate my fit for the position. As part of my degree and design volunteering opportunities – most recently under AZNZINE – I have learnt how to work creatively and efficiently with others from creative idea conceptualisation to delivery, while staying within a brand’s style and values. This encompasses a broad array of mediums and intentions; including animation, signage, social media, visual presentations, web design, layout design, and illustrated assets. Working with a range of people – both locally and internationally – I’ve tackled working around time differences, been responsive, collaborative, and proactive; while always seeking feedback to develop and grow my design.<br> 

															I am proficient and comfortable with the Adobe Creative Suite, especially InDesign, Photoshop, and Illustrator; and can extend my static designs into motion with Premiere Pro and After Effects. On the more traditional side, I also spend time fine tuning typography selection, placement, and keeping an eye on good publication design. Learning about human interaction through my digital technologies major, I have a keen eye, technical understanding, and passion to design for easy interaction and to think deeply about user experiences. While offering my skills, I would also appreciate the opportunity to learn from and develop alongside the Melbourne KOJO team.<br> 

															As an efficient and driven individual, I pride myself in my flexibly and time management skills; developed through volunteer coordination and serving as a university club president in 2020. Especially under conditions presented by the pandemic, I understand the need to communicate well, think on one’s feet, and the importance of bringing initiative to the table in order to work efficiently as a team in a fast-paced environment. With the few sentences written here and selected works on my portfolio sell short in showing fully what I can offer KOJO. I would love the opportunity to elaborate in an interview.<br> 

															I am confident with my skills and experience to effectively undertake the role of your junior designer. Thank you for your consideration and I hope to hear from you soon.<br> 

															Yours sincerely,<br>
															Nathan Jones
														</p>
													</div>
												</div>
											</div>
							      		</div>
					            		<div class="lettrscreening_form ansquestn_Box">
					            			<h5>Answered questions</h5>
					            			<form>
					            				<div class="form-group position-relative">
					            					<label>How many years of industry UI/UX experience have you had?</label>
					            					<div class="anserd_brdrbox">
					            						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel vitae in massa blandit. Metus neque senectus tortor sed quam nisl, amet aenean in. Purus turpis feugiat habitant maecenas fringilla.</p>
					            					</div>
					            				</div>
					            				<div class="form-group">
					            					<label>Do you have a mode of trasnport to the office?</label>
					            					<div class="anserd_brdrbox">
					            						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel vitae in massa blandit. Metus neque senectus tortor sed quam nisl, amet aenean in. Purus turpis feugiat habitant maecenas fringilla.</p>
					            					</div>
					            				</div>
					            				<div class="form-group">
					            					<label>What is your biggest weakness?</label>
					            					<div class="anserd_brdrbox">
					            						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel vitae in massa blandit. Metus neque senectus tortor sed quam nisl, amet aenean in. Purus turpis feugiat habitant maecenas fringilla.</p>
					            					</div>
					            				</div>
					            				<div class="form-group">
					            					<label>What makes you think you will be a good fit for this position?</label>
					            					<div class="anserd_brdrbox">
					            						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel vitae in massa blandit. Metus neque senectus tortor sed quam nisl, amet aenean in. Purus turpis feugiat habitant maecenas fringilla.</p>
					            					</div>
					            				</div>
					            				<div class="form-group">
					            					<label>Describe what expereince do you have in Wordpress, Adobe creative suite, and UI/UX related programs. </label>
					            					<div class="anserd_brdrbox">
					            						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel vitae in massa blandit. Metus neque senectus tortor sed quam nisl, amet aenean in. Purus turpis feugiat habitant maecenas fringilla.</p>
					            					</div>
					            				</div>
					            			</form>
					            		</div>
							      	</div>
							      	<div class="edit-btns text-right mt-3">
										<a class="btn btn-primary" routerLink="/applicantsManagement">Back</a>
									</div>
						      	</div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>